<div class="datepicker-week font-caption color-text-80">
  <div class="datepicker-day"
       [class.font-caption-bold]="day === 0 || day === 6"
       *ngFor="let day of weekDays">
    {{locale.dayNamesMin[day]}}
  </div>
</div>
<div class="datepicker-picker color-text-90 font-body-3"
     (wheel)="scrollMonth($event)"
>
  <div *ngFor="let day of days"
       class="datepicker-date"
       (click)="setDate(day, $event);"
       (dblclick)="applyValue(day, $event);"
       [class.datepicker-date_active]="day.selected"
       [class.datepicker-date_disabled]="day.disabled || !day.isCurrentMonth"
       [class.datepicker-date_weekend]="day.weekend"
       [class.datepicker-date_today]="day.today">
    <ng-container *ngIf="day !== null && day !== undefined">
      {{day.date.getDate()}}
    </ng-container>
  </div>
</div>
