<div tetaDragSortContainer
  (dragSorted)="items = update($event, items)"
  [dragSortList]="items"
  class="padding-10 margin-10 row row_auto border border-text-5">
  @for (item of items; track item) {
    <div [tetaDragSortItem]="item"
      class="padding-4 border border-text-10">
      {{item?.name}}
    </div>
  }
</div>
<div tetaDragSortContainer
  (dragSorted)="items = update($event, items2)"
  [dragSortList]="items"
  class="padding-10 margin-10 column row_auto border border-text-5">
  @for (item of items2; track item) {
    <div [tetaDragSortItem]="item"
      [dragSortDirection]="'vertical'"
      class="padding-4 border border-text-10">
      {{item?.name}}
    </div>
  }
</div>
