@import "./color-util.scss";

@mixin generateButtonForPalette($paletteName) {
  .button_primary.button-#{$paletteName} {
    background-color: getColorVar($paletteName, '50');
    background-position: center;
    transition: background 0.8s;

    &:hover {
      background: getColorVar($paletteName, '60') radial-gradient(circle, transparent 1%, getColorVar($paletteName, '60') 1%) center/15000%;
    }

    &:active {
      background-color: getColorVar($paletteName, '70');
      background-size: 100%;
      transition: background 0s;
    }
  }

  .button_ghost.button-#{$paletteName} {
    color: getColorVar($paletteName, '90');
    fill: getColorVar($paletteName, '90');
    background-color: transparent;
    background-position: center;
    transition: background 0.8s;

    &:hover {
      background: getColorVar($paletteName, '5') radial-gradient(circle, transparent 1%, getColorVar($paletteName, '5') 1%) center/15000%;
    }

    &:active {
      background-color: getColorVar($paletteName, '10');
      background-size: 100%;
      transition: background 0s;
    }
  }

  .button_outline.button-#{$paletteName} {
    color: getColorVar($paletteName, '50');
    fill: getColorVar($paletteName, '50');
    border-color: getColorVar($paletteName, '50');
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
    background-position: center;
    transition: background 0.8s;

    &:hover {
      background: getColorVar($paletteName, '5') radial-gradient(circle, transparent 1%, getColorVar($paletteName, '5') 1%) center/15000%;
    }

    &:active {
      background-color: getColorVar($paletteName, '10');
      background-size: 100%;
      transition: background 0s;
    }
  }
}
