<div class="font-caption color-text-90 align-center row nowrap overflow-hidden text-overflow-ellipsis"
     [class.row_6]="horizontal"
     [class.text-field_required]="required"
     *ngIf="label?.length > 0">
  <span class="overflow-hidden text-overflow-ellipsis"
        [tetaHint]="hint ?? label"
        [align]="align.left"
        [overflownOnly]="true">
    {{label}}
  </span>
</div>
<div [class]="'input-container input_'+viewType" [class.row_6]="horizontal">
    <ng-content class="input_rounded"></ng-content>
  <div class="input-message font-error-message font-caption">
    <ng-content select="message"></ng-content>
  </div>
</div>
