<form #form>
  <teta-property-grid class="scrollable padding-h-3 row_auto"
                      style="width: 100%"
                      (controlValueChange)="save($event)"
                      [item]="item"
                      [horizontal]="true"
                      [columns]="columns"
                      [dict]="dict">
    <ng-template [tetaPropertyGridItemDescription]="'ram'" let-control>
      <input [formControl]="control" class="input" />

    </ng-template>
  </teta-property-grid>
</form>
