@if (
  {
    y: y(),
    axis: axis(),
  };
  as data
) {
  @for (tick of data.y.ticks(); track $index) {
    <svg:g
      [attr.text-anchor]="data.axis.options.opposite ? 'start' : 'end'"
      [attr.transform]="'translate(0, ' + data.y(tick) + ')'"
    >
      <text fill="var(--color-text-70)" dy="0.32em" [attr.x]="data.axis.options.opposite ? 10 : -9">
        {{ data.axis.options.tickFormat ? data.axis.options.tickFormat(tick) : data.axis.defaultFormatter()(tick) }}
      </text>
      <line stroke="var(--color-text-30)" [attr.x2]="data.axis.options.opposite ? 6 : -6"></line>
    </svg:g>
  }
  <svg:g class="font-caption" style="fill: var(--color-text-70)" [attr.transform]="getLabelTransform()">
    <text
      [attr.dy]="data.axis.options.opposite ? '-4px' : '4px'"
      text-anchor="middle"
      [attr.dominant-baseline]="data.axis.options.opposite ? 'auto' : 'hanging'"
    >
      {{ data.axis.options.title }}
    </text>
  </svg:g>
}
