$themes: (
  'default': (
    'text': (
      '90': rgba(33, 36, 42),
      '80': rgba(55, 58, 64),
      '70': rgba(77, 80, 86),
      '60': rgba(105, 107, 113),
      '50': rgba(140, 142, 148),
      '40': rgba(173, 175, 181),
      '30': rgba(204, 206, 213),
      '20': rgba(221, 223, 230),
      '10': rgba(230, 232, 239),
      '5': rgba(232, 234, 241),
    ),
    'primary': (
      '90': rgba(21, 54, 125),
      '80': rgba(26, 68, 157),
      '70': rgba(31, 81, 189),
      '60': rgba(36, 95, 221),
      '50': rgba(40, 108, 253),
      '40': rgba(80, 134, 253),
      '30': rgba(119, 160, 254),
      '20': rgba(159, 187, 254),
      '10': rgba(198, 215, 255),
      '5': rgba(238, 243, 255),
    ),
    'red': (
      '90': rgba(168, 46, 38),
      '80': rgba(183, 56, 49),
      '70': rgba(194, 63, 56),
      '60': rgba(212, 72, 62),
      '50': rgba(226, 82, 65),
      '40': rgba(222, 94, 86),
      '30': rgba(215, 121, 118),
      '20': rgba(227, 158, 156),
      '10': rgba(247, 207, 211),
      '5': rgba(252, 236, 238),
    ),
    'green': (
      '90': rgba(40, 95, 27),
      '80': rgba(55, 126, 48),
      '70': rgba(66, 142, 59),
      '60': rgba(78, 160, 70),
      '50': rgba(89, 174, 80),
      '40': rgba(111, 187, 105),
      '30': rgba(136, 198, 131),
      '20': rgba(169, 214, 166),
      '10': rgba(203, 230, 201),
      '5': rgba(233, 245, 233),
    ),
    'yellow': (
      '90': rgba(238, 104, 0),
      '80': rgba(238, 136, 0),
      '70': rgba(238, 152, 0),
      '60': rgba(238, 171, 0),
      '50': rgba(237, 184, 0),
      '40': rgba(239, 194, 27),
      '30': rgba(241, 206, 72),
      '20': rgba(245, 219, 126),
      '10': rgba(249, 233, 177),
      '5': rgba(252, 247, 225),
    ),
    'background': (
      '50': rgba(255, 255, 255),
      '0': rgba(244, 245, 247),
    ),
    'white': (
      '50': rgba(255, 255, 255)
    ),
    'black': (
      '50': rgba(28, 27, 33, 1)
    ),
    'backdrop': (
      '50': rgba(144, 148, 153, 0.4)
    ),
    'link': (
      '50': #005ab6
    )
  ),
  'dark': (
    'primary': (
      '90': rgba(118, 173, 255, 1),
      '80': rgba(89, 155, 255, 1),
      '70': rgba(59, 138, 255, 1),
      '60': rgba(46, 122, 255, 1),
      '50': rgba(40, 108, 253, 1),
      '40': rgba(45, 93, 212, 1),
      '30': rgba(47, 80, 175, 1),
      '20': rgba(46, 68, 139, 1),
      '10': rgba(43, 56, 107, 1),
      '5': rgba(37, 44, 77, 1),
    ),
    'text': (
      '90': rgba(239, 239, 241, 1),
      '80': rgba(215, 216, 221, 1),
      '70': rgba(189, 189, 198, 1),
      '60': rgba(162, 163, 174, 1),
      '50': rgba(139, 140, 154, 1),
      '40': rgba(118, 119, 135, 1),
      '30': rgba(93, 95, 109, 1),
      '20': rgba(73, 75, 86, 1),
      '10': rgba(57, 57, 67, 1),
      '5': rgba(47, 47, 55, 1)
    ),
    'red': (
      '90': rgba(255, 204, 182, 1),
      '80': rgba(252, 179, 152, 1),
      '70': rgba(246, 153, 125, 1),
      '60': rgba(236, 128, 101, 1),
      '50': rgba(224, 104, 80, 1),
      '40': rgba(186, 85, 77, 1),
      '30': rgba(150, 71, 72, 1),
      '20': rgba(117, 63, 69, 1),
      '10': rgba(86, 53, 59, 1),
      '5': rgba(58, 40, 45, 1)
    ),
    'green': (
      '90': rgba(196, 245, 209, 1),
      '80': rgba(157, 222, 168, 1),
      '70': rgba(129, 208, 136, 1),
      '60': rgba(104, 192, 104, 1),
      '50': rgba(89, 174, 80, 1),
      '40': rgba(76, 145, 74, 1),
      '30': rgba(67, 118, 69, 1),
      '20': rgba(58, 93, 61, 1),
      '10': rgba(47, 69, 51, 1),
      '5': rgba(35, 47, 38, 1),
    ),
    'yellow': (
      '90': rgba(255, 252, 191, 1),
      '80': rgba(255, 241, 143, 1),
      '70': rgba(255, 223, 96, 1),
      '60': rgba(253, 199, 48, 1),
      '50': rgba(238, 171, 0, 1),
      '40': rgba(196, 137, 13, 1),
      '30': rgba(157, 108, 23, 1),
      '20': rgba(122, 84, 29, 1),
      '10': rgba(91, 64, 31, 1),
      '5': rgba(64, 47, 29, 1)
    ),
    'background': (
      '50': rgba(34, 34, 41, 1),
      '0': rgba(28, 27, 33, 1),
    ),
    'white': (
      '50': rgba(255, 255, 255, 1)
    ),
    'black': (
      '50': rgba(28, 27, 33, 1)
    ),
    'backdrop': (
      '50': rgba(144, 148, 153, 0.4)
    ),
    'link': (
      '50': #79c6ff
    )
  )
);

$palettes: 'primary', 'text', 'red', 'green', 'yellow', 'background', 'white', 'backdrop', 'black', 'link';
$grades: '90', '80', '70', '60', '50', '40', '30', '20', '10', '5', '0';
