@use "node_modules/@tetacom/themes/src/base/presets.scss" as base;
@use "node_modules/@tetacom/themes/src/tatneft/presets.scss" as tatneft;

$tatneft_theme: map-get(tatneft.$presets, 'themes');
$base_theme: map-get(base.$presets, 'themes');
$themes: map-merge($tatneft_theme, $base_theme);

$palettes: 'primary', 'text', 'red', 'green', 'yellow', 'background', 'white', 'backdrop', 'black', 'link';
$grades: '90', '80', '70', '60', '50', '40', '30', '20', '10', '5', '0';
