$fonts: (
  h-1: (
    font-size:92px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    letter-spacing:0.15px,
    text-decoration:none
  ),
  h-2: (
    font-size:60px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    letter-spacing:0.15px,
    text-decoration:none
  ),
  h-3: (
    font-size:48px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    letter-spacing:0.15px,
    text-decoration:none
  ),
  h-4: (
    font-size:35px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    line-height:44px,
    letter-spacing:0.15px,
    text-decoration:none
  ),
  h-5: (
    font-size:28px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    letter-spacing:0.15px,
    text-decoration:none
  ),
  h-6: (
    font-size:20px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    letter-spacing:0.15px,
    text-decoration:none
  ),
  title-1: (
    font-size:16px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    line-height:24px,
    letter-spacing:0.0015em,
    text-decoration:none
  ),
  title-2: (
    font-size:14px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    line-height:16px,
    text-decoration:none
  ),
  title-3: (
    font-size:12px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    line-height:16px,
    text-decoration:none
  ),
  body-1: (
    font-size:16px,
    font-family:"Open Sans",
    font-weight:normal,
    font-style:normal,
    line-height:24px,
    text-decoration:none
  ),
  body-2: (
    font-size:14px,
    font-family:"Open Sans",
    font-weight:normal,
    font-style:normal,
    line-height:16px,
    text-decoration:none
  ),
  body-3: (
    font-size:12px,
    font-family:"Open Sans",
    font-weight:normal,
    font-style:normal,
    line-height:16px,
    text-decoration:none
  ),
  button-1: (
    font-size:13px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    line-height:20px,
    text-decoration:none
  ),
  button-2: (
    font-size:11px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    line-height:16px,
    text-decoration:none
  ),
  button-3: (
    font-size:10px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    line-height:14px,
    text-decoration:none
  ),
  caption: (
    font-size:11px,
    font-family:"Open Sans",
    font-weight:normal,
    font-style:normal,
    line-height:16px,
    text-decoration:none
  ),
  table-header: (
    font-size:11px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    line-height:12px,
    text-decoration:none
  ),
  overline: (
    font-size:10px,
    font-family:"Open Sans",
    font-weight:600,
    font-style:normal,
    line-height:12px,
    letter-spacing:1.5px,
    text-decoration:none
  )
)
