@mixin base-radius() {
  &_brick {
    border-radius: var(--radius-base-brick);
  }

  &_circle {
    border-radius: var(--radius-base-circle)''
  }

  &_rounded {
    border-radius: var(--radius-base-round);
  }
}

@mixin button-radius() {
  &_brick {
    border-radius: var(--radius-btn-brick);
  }

  &_circle {
    border-radius: var(--radius-btn-circle)
  }

  &_rounded {
    border-radius: var(--radius-btn-round);
  }
}

@mixin field-radius() {
  &_brick {
    border-radius: var(--radius-field-brick);
  }

  &_circle {
    border-radius: var(--radius-field-circle)''
  }

  &_rounded {
    border-radius: var(--radius-field-round);
  }
}
