<svg:defs *ngIf="series?.fillType === fillType.gradient">
  <svg:linearGradient [id]="'gradient-fill-' + id" gradientUnits="userSpaceOnUse"
                      x1="0%"
                      y1="0%"
                      [attr.x2]="config?.inverted ? '100%' : '0%'"
                      [attr.y2]="config?.inverted ? '0%' : '100%'">
    <svg:stop offset="0%" [attr.stop-color]="series.color" stop-opacity="0"></svg:stop>
    <svg:stop offset="5%" [attr.stop-color]="series.color" stop-opacity="0.1"></svg:stop>
    <svg:stop offset="20%" [attr.stop-color]="series.color" stop-opacity="0.2"></svg:stop>
    <svg:stop offset="100%" [attr.stop-color]="series.color" stop-opacity="0.5"></svg:stop>
  </svg:linearGradient>
</svg:defs>

<svg:path
  class="area"
  [attr.d]="path | async"
  [attr.stroke]="series.color"
  [attr.stroke-dasharray]="series.style?.strokeDasharray"
  [attr.stroke-width]="series.style?.strokeWidth"
  [attr.stroke-width]="series.style?.strokeWidth"
  [attr.fill]="series.fillType === fillType.gradient ? 'url(#gradient-fill-'+id+')' : 'none'">
</svg:path>

<ng-container *ngIf="transform | async as t">
  <svg:circle
    *ngIf="t.x !== undefined && t.y!== undefined"
    r="3"
    [attr.fill]="series.color"
    [attr.transform]="'translate('+ t.x +', '+ t.y +')'"
  >
  </svg:circle>
</ng-container>

<ng-container *ngIf="getMarkers() as markers">
  <svg:circle
    class="marker"
    *ngFor="let point of markers"
    [class.draggable-marker]="point?.marker?.draggable"
    [attr.r]="point.marker.style?.radius ?? 5"
    [attr.fill]="point.marker.style?.fill ?? 'transparent'"
    [attr.stroke]="point.marker.style?.stroke ?? 'none'"
    [attr.stroke-width]="point.marker.style?.strokeWidth"
    [attr.stroke-dasharray]="point.marker.style?.strokeDasharray"
    [attr.cx]="x(point.x)"
    [attr.cy]="y(point.y)"
  >
  </svg:circle>
</ng-container>



