<svg:defs *ngIf="series?.fillType === fillType.gradient">
  <svg:linearGradient [id]="'gradient-fill-' + id" gradientUnits="userSpaceOnUse"
                      x1="0%"
                      [attr.y1]="config?.inverted || series?.fillDirection === fillDirection.y ? '0%' : '100%'"
                      [attr.x2]="config?.inverted || series?.fillDirection === fillDirection.y ? '100%' : '0%'"
                      y2="0%">
    <svg:stop offset="0%" [attr.stop-color]="series.color" stop-opacity="0"></svg:stop>
    <svg:stop offset="5%" [attr.stop-color]="series.color" stop-opacity="0.1"></svg:stop>
    <svg:stop offset="20%" [attr.stop-color]="series.color" stop-opacity="0.2"></svg:stop>
    <svg:stop offset="60%" [attr.stop-color]="series.color" stop-opacity="0.5"></svg:stop>
    <svg:stop offset="100%" [attr.stop-color]="series.color" stop-opacity="0.8"></svg:stop>
  </svg:linearGradient>
</svg:defs>
<svg:path
  class="area"
  [attr.d]="areaPath | async"
  [attr.stroke-width]="0"
  [attr.fill-opacity]="series.style?.fillOpacity"
  [attr.fill]="series.fillType === fillType.gradient ? 'url(#gradient-fill-'+id+')' : series.style.fill ?? series.color">
</svg:path>
<svg:path
  class="area"
  fill="none"
  [attr.d]="path | async"
  [attr.stroke]="series.color"
  [attr.stroke-dasharray]="series.style?.strokeDasharray"
  [attr.stroke-width]="series.style?.strokeWidth">
</svg:path>
<ng-container *ngIf="transform | async as t">
  <svg:circle
    *ngIf="t?.x !=null && t?.y !=null"
    r="3"
    [attr.fill]="series.color"
    [attr.transform]="'translate('+ t.x +', '+ t.y +')'"
  >
  </svg:circle>
</ng-container>
<ng-container *ngIf="getMarkers() as markers">
  <svg:circle
    class="marker"
    *ngFor="let point of markers"
    [class.draggable-marker]="point?.marker?.draggable"
    [attr.r]="point.marker.style?.radius ?? 5"
    [attr.fill]="point.marker.style?.fill ?? 'transparent'"
    [attr.stroke]="point.marker.style?.stroke ?? 'none'"
    [attr.stroke-width]="point.marker.style?.strokeWidth"
    [attr.stroke-dasharray]="point.marker.style?.strokeDasharray"
    [attr.cx]="x(point.x)"
    [attr.cy]="y(point.y)"
  >
  </svg:circle>
</ng-container>



