<ng-container *ngIf="size | async as s">
  <svg [attr.width]="s.width" [attr.height]="s.height">
    <g class="y-axis-container">
      <g *ngFor="let item of yAxes | keyvalue"
         teta-y-axis
         [axis]="item.value"
         [attr.transform]="getYAxisTranslate(item.value, s)"></g>
    </g>
    <g class="x-axis-container">
      <g *ngFor="let item of xAxes | keyvalue"
         teta-x-axis
         [axis]="item.value"
         [attr.transform]="getXAxisTranslate(item.value, s)"></g>
    </g>
    <g teta-gridlines></g>
    <g class="series-container">
      <g teta-series-host
         *ngFor="let series of config.series"
         [series]="series"
         [size]="s"></g>
    </g>
    <g class="x-axis-plotline-container">
      <g teta-plot-line></g>
    </g>
    <g class="x-axis-plotband-container">
      <g teta-plot-band></g>
    </g>


    <!--    <g teta-line-series-->
    <!--       [series]="series"-->
    <!--       [size]="s"-->
    <!--       *ngFor="let series of config.series"></g>-->
  </svg>
</ng-container>
