<ng-container *ngIf="size | async as s">
  <teta-tooltip [size]="s"></teta-tooltip>
  <svg [tetaZoomable] [config]="config" [attr.width]="s.width" [attr.height]="s.height" (mouseleave)="mouseLeave($event)"
       (mousemove)="mouseMove($event)">
    <ng-container *ngIf="getVisibleRect(s) as rect">
      <defs>
        <clipPath id="visible-window">
          <rect [attr.x]="rect.left" [attr.y]="rect.top" [attr.width]="rect.width" [attr.height]="rect.height"></rect>
        </clipPath>
      </defs>
    </ng-container>
    <g class="y-axis-container">
      <g *ngFor="let item of yAxes | keyvalue"
         teta-y-axis
         [axis]="item.value"
         [size]="s"
         [attr.transform]="getYAxisTranslate(item.value, s)"></g>
    </g>
    <g class="x-axis-container">
      <g *ngFor="let item of xAxes | keyvalue"
         teta-x-axis
         [axis]="item.value"
         [size]="s"
         [attr.transform]="getXAxisTranslate(item.value, s)"></g>
    </g>
    <g clip-path="url(#visible-window)">
      <g class="gridlines" teta-gridlines [size]="s"></g>
      <g class="series-container">
        <g teta-series-host
           *ngFor="let series of config.series"
           [series]="series"
           [size]="s"></g>
      </g>

      <g class="x-axis-plotline-container">
        <g teta-plot-line></g>
      </g>
      <g class="x-axis-plotband-container">
        <ng-container *ngFor="let axis of config.xAxis; let i = index">
          <g teta-plot-band *ngFor="let plotband of axis.plotbands" [plotband]="plotband" [size]="s"
             [axis]="xAxes.get(i)"></g>
        </ng-container>
      </g>
      <g class="series-tooltip-line-marker"></g>
    </g>
  </svg>


</ng-container>
