<ng-container *ngIf="size | async as s">
  <svg [attr.width]="s.width" [attr.height]="s.height">
    <g
      [teta-y-axis]
      [axis]="item.value"
      *ngFor="let item of yAxes | keyvalue"
      [attr.transform]="getTranslate(item.value, s)"></g>
    <g teta-plot-line></g>
    <g teta-plot-band></g>
    <g teta-gridlines></g>
    <ng-container *ngFor="let series of config.series">
      <g [teta-series-host]
         [series]="series"
         [size]="s"></g>
    </ng-container>

    <!--    <g teta-line-series-->
    <!--       [series]="series"-->
    <!--       [size]="s"-->
    <!--       *ngFor="let series of config.series"></g>-->
  </svg>
</ng-container>
