<teta-tabs class="column_auto">
  <teta-tab *ngIf="column.filterable">
    <ng-template tetaTabTitle>
      <teta-icon [name]="'filter'"></teta-icon>
    </ng-template>
    <ng-template tetaTabContent>
      <teta-filter-host [column]="column"
                        [state]="state"
                        *ngIf="dict | async as d"
                        [filterOptions]="d[column.name]"></teta-filter-host>
      <teta-toolbar class="justify-content-between">
        <button teta-button [palette]="'text'" [view]="'ghost'" (click)="clearFilter()">
          Очистить
        </button>
        <button teta-button [palette]="'primary'" (click)="applyFilter()">
          <teta-icon [name]="'tick'"></teta-icon>
          Применить
        </button>
      </teta-toolbar>
    </ng-template>
  </teta-tab>
  <teta-tab *ngIf="column.headDropdownTemplate">
    <ng-template tetaTabTitle>
      <teta-icon [name]="'measurement'"></teta-icon>
    </ng-template>
    <ng-template tetaTabContent>
      <ng-container
        *ngTemplateOutlet="column.headDropdownTemplate; context: {$implicit: column, column: column}"></ng-container>
    </ng-template>
  </teta-tab>
  <teta-tab>
    <ng-template tetaTabTitle>
      <teta-icon [name]="'menu'"></teta-icon>
    </ng-template>
    <ng-template tetaTabContent>
      <div class="list column_auto">
        <div class="list-item list-item_interactive" (click)="pinColumn()">
          <teta-icon [palette]="'text'"
                     [name]="column.locked ? 'unpin' : 'pin'"
                     class="margin-right-2"></teta-icon>
          {{column.locked ? 'Открепить' : 'Закрепить'}}
        </div>
        <div class="list-divider"></div>
        <ng-container *ngIf="hasSortedColumns()">
          <div class="list-item list-item_interactive"
               *ngIf="sortParam"
               (click)="clearSort()">
            <teta-icon [palette]="'text'"
                       [name]="'pin'" class="margin-right-2"></teta-icon>
            Сбросить сортировку
          </div>
          <div class="list-item list-item_interactive"
               (click)="clearAllSort()">
            <teta-icon [palette]="'text'"
                       [name]="'pin'"
                       class="margin-right-2"></teta-icon>
            Сбросить все сортировки
          </div>
          <div class="list-divider"></div>
        </ng-container>
        <ng-container *ngIf="hasFilteredColumns()">
          <div class="list-item list-item_interactive"
               *ngIf="filtered"
               (click)="clearFilter()">
            <teta-icon [palette]="'text'"
                       [name]="'pin'"
                       class="margin-right-2"></teta-icon>
            Очистить фильтр
          </div>
          <div class="list-item list-item_interactive"
               (click)="clearAllFilters()">
            <teta-icon [palette]="'text'"
                       [name]="'pin'"
                       class="margin-right-2"></teta-icon>
            Очистить все фильтры
          </div>
          <div class="list-divider"></div>
        </ng-container>
        <div class="list-item list-item_interactive" (click)="autosize.emit()">
          <teta-icon [palette]="'text'"
                     [name]="'autoSize'"
                     class="margin-right-2"></teta-icon>
          Авторазмер колонки
        </div>
        <div class="list-item list-item_interactive" (click)="autosizeAll.emit()">
          <teta-icon [palette]="'text'"
                     [name]="'autoSizeAll'"
                     class="margin-right-2"></teta-icon>
          Авторазмер всех колонок
        </div>
        <div class="list-divider"></div>
        <div class="list-item list-item_interactive" (click)="restoreDefaultColumns()">
          <teta-icon [palette]="'text'"
                     [name]="'undo'"
                     class="margin-right-2"></teta-icon>
          Отменить все изменения
        </div>
      </div>
    </ng-template>
  </teta-tab>
  <teta-tab>
    <ng-template tetaTabTitle>
      <teta-icon [name]="'eye'"></teta-icon>
    </ng-template>
    <ng-template tetaTabContent>
      <div class="list-item padding-left-6 padding-top-2" [class.padding-left-9]="childMode">
        <teta-checkbox [binary]="true"
                       [allowNull]="true"
                       [ngModel]="allColumnsVisible()"
                       (ngModelChange)="setAllColumns($event)">
          Все
        </teta-checkbox>
      </div>
      <div class="list-divider"></div>
      <div class="padding-v-2 column column_auto scrollable">
        <teta-tree [data]="columns"
                   [openItems]="openItems"
                   (openItemsChange)="openItems = $event"
                   [childNodeName]="'columns'"
                   [compareItems]="compareItems">
          <ng-template tetaTemplate let-item>
            <div class="tree__item">
              <teta-tree-item-toggle [item]="item" *ngIf="item.columns?.length > 0"></teta-tree-item-toggle>
              <teta-checkbox
                [ngModel]="!columnIsHidden(item)"
                (ngModelChange)="setColumnVisibility(item, $event)"
                (click)="$event.stopPropagation()"
                [binary]="true"
              >
                {{item.caption}}
              </teta-checkbox>
            </div>
          </ng-template>
        </teta-tree>
      </div>
      <teta-toolbar class="justify-content-end">
        <button teta-button
                [disabled]="allColumnsVisible() === false"
                [palette]="'primary'"
                (click)="setColumnsVisibility()">
          Применить
        </button>
      </teta-toolbar>
    </ng-template>
  </teta-tab>
</teta-tabs>
