<teta-dropdown *ngIf="{selectedDate:selectedDate|async}as data" [appendToBody]="appendToBody" [backdrop]="backdrop"
               [(open)]="open" (openChange)="openChange($event)" [viewType]="viewType"
               [disabled]="disabled" [verticalAlign]="verticalAlign" [align]="align"
               [autoCloseIgnore]="['esc', 'inside','enter']">
  <div tetaDropdownHead
       [class]="'datepicker-head font-body-3 gap-8 datepicker_'+viewType"
       [ngClass]="{'datepicker-head_invalid':invalid,'datepicker-head_disabled':disabled}">
    <teta-input class="row row_auto flex">
      <div [class]="'row_auto row datepicker_'+viewType">
        <div class="row position-relative font-body-3 align-center">
          <input [ngClass]="{'color-text-90':!disabled}" [disabled]="disabled" #input style="z-index: 1"
                 class="border-0 color-text-90" (keydown)="checkEnter($event)"
                 [(ngModel)]="inputText" (ngModelChange)="changeInput($event)"
                 [maskito]="maskitoOptions">
          <div (click)="input.focus()" *ngIf="data.selectedDate||allowNull" class="position-absolute color-text-10"
               style="top:-0.3px;cursor: text;user-select: none">{{placeholder}}</div>
        </div>
        <teta-icon [name]="'calendar'" [palette]="'text'"></teta-icon>
      </div>
    </teta-input>
  </div>
  <div tetaDropdownContent class="scrollable" (click)="$event.preventDefault()">
    <ng-container *ngIf="open">
      <div class="row">
        <teta-range-calendar [isDateNull]="date===null||(date?.from===null&&date?.to===null)" [open]="open"
                             [max]="maxDate"
                             [allowNull]="allowNull"
                             [min]="minDate"
                             (setDate)="changeSelectedDate($event,data.selectedDate)"
                             [selectedDate]="data.selectedDate"
                             [date]="date"
                             [viewType]="viewType" [locale]="locale"></teta-range-calendar>
      </div>
    </ng-container>
  </div>
</teta-dropdown>
