<div class="row align-center justify-content-between">
  <div class="font-title-2 padding-left-4">
    {{ message.title }}
  </div>
  <button teta-button type="button" [square]="true" [view]="'ghost'" (click)="closeMe($event)">
    <teta-icon class="fill-text-90" [name]="'closeBig'"></teta-icon>
  </button>
</div>
@if (!message.template && message.text) {
  <div class="font-body-3 padding-v-2 padding-left-4">
    {{ message.text }}
  </div>
}
@if (message.template) {
  <ng-container *ngTemplateOutlet="message.template; context: { $implicit: message }"></ng-container>
}
