<div class="row align-center justify-content-between">
  <div class="font-title-2 padding-left-4">
    {{message.title}}
  </div>
  <button teta-button
          [square]="true"
          [palette]="message.palette"
          [view]="'primary'"
          (click)="closeMe($event)">
    <teta-icon [name]="'closeBig'"></teta-icon>
  </button>
</div>
<div class="font-body-3 padding-v-2 padding-left-4" *ngIf="!message.template && message.text">
  {{message.text}}
</div>
<ng-container *ngIf="message.template">
  <ng-container *ngTemplateOutlet="message.template; context: {$implicit: message}"></ng-container>
</ng-container>
