@if ({data: data|async}; as config) {
  <ngt-scene>
    <ngts-orbit-controls [minAzimuthAngle]='0'
                         [maxAzimuthAngle]='Math.PI/2'
                         [maxZoom]='30'
                         [minZoom]='2'
                         (change)='setRotation()'></ngts-orbit-controls>
  </ngt-scene>
  <teta-area-3d></teta-area-3d>
  @for (s of config.data?.series; track s) {
    <div teta-series-3d-host [series]='s'></div>
  }
  <teta-axes-3d [rotation]='rotation'></teta-axes-3d>
}
