<cdk-virtual-scroll-viewport *ngIf="virtual && data.length > 0; else nonVirtual"
                             class="table-body-container"
                             (scroll)="scroll.emit($event)"
                             [itemSize]="28">
  <ng-container *cdkVirtualFor="let row of data;templateCacheSize: 0; let rowIndex = index; trackBy: trackRow;">
    <ng-container *ngTemplateOutlet="bodyTemplate; context: {row: row, rowIndex: rowIndex}"></ng-container>
  </ng-container>
</cdk-virtual-scroll-viewport>
<ng-template #nonVirtual>
  <div class="table-body-container" (scroll)="scroll.emit($event)">
    <div class="column column_auto"
         style="position: absolute; top:0; bottom:16px;left:0;right:0;"
         *ngIf="!data?.length">
      <ng-content></ng-content>
    </div>
    <ng-container *ngTemplateOutlet="emptyRow;"></ng-container>
    <ng-container *ngFor="let row of data; let rowIndex = index; trackBy: trackRow;">
      <ng-container *ngTemplateOutlet="bodyTemplate; context: {row: row, rowIndex: rowIndex}"></ng-container>
    </ng-container>
    <ng-container *ngIf="aggregate">
      <ng-container *ngTemplateOutlet="aggTemplate;"></ng-container>
    </ng-container>
  </div>
</ng-template>

<ng-template #bodyTemplate let-row="row" let-rowIndex="rowIndex">
  <div class="table-row"
       (click)="setActiveRow(row, $event)"
       [attr.data-row]="rowIndex"
       [class.table-row_odd]="rowIndex % 2 === 1"
       [ngClass]="rowClass ? rowClass(row, rowIndex) : ''"
       [class.table-row_selected]="selectedRows && selectedRows.indexOf(row) >= 0"
       [style.flex-grow]="totalFlex"
       [style.flex-basis.px]="totalWidth"
       [style.min-width.px]="totalWidth">
    <div class="table-row_locked"
         *ngIf="locked.length > 0"
         [style.flex-grow]="lockedFlex"
         [style.flex-basis.px]="lockedWidth"
         [style.min-width.px]="lockedWidth"
         [style.zIndex]="row === activeRow ? 2 : 1">
      <teta-selection-cell *ngIf="selectType === selectTypeEnum.checkBox && locked.length"
                           [row]="row"
                           style="width: 28px;"></teta-selection-cell>
      <teta-cell
        *ngFor="let column of locked; let colIndex = index; trackBy: trackColumns;"
        [attr.data-row]="rowIndex"
        [attr.data-column]="column.name"
        [column]="column"
        [filterOptions]="dict?dict[column.name]:[]"
        [dict]="dict"
        [row]="row"
        [ngClass]="column.cellClass"
        [attr.tabindex]="0"
        [style.flex-grow]="column.flex"
        [style.flex-basis.px]="column.width"
      ></teta-cell>
    </div>
    <teta-selection-cell *ngIf="selectType === selectTypeEnum.checkBox && locked.length < 1"
                         [row]="row"
                         style="width: 28px;"></teta-selection-cell>
    <teta-cell
      *ngFor="let column of unlocked; let colIndex = index; trackBy: trackColumns;"
      [attr.data-row]="rowIndex"
      [attr.data-column]="column.name"
      [column]="column"
      [filterOptions]="dict?dict[column.name]:[]"
      [dict]="dict"
      [row]="row"
      [ngClass]="column.cellClass"
      [attr.tabindex]="0"
      [style.flex-grow]="column.flex"
      [style.flex-basis.px]="column.width"
    ></teta-cell>
  </div>
</ng-template>

<ng-template #aggTemplate>
  <ng-container *ngIf="locale | async as loc">
    <div class="table-row"
         *ngIf="aggregate"
         [class.table-row_virtual]="virtual"
         [style.flex-grow]="totalFlex"
         [style.flex-basis.px]="totalWidth"
         [style.min-width.px]="totalWidth">
      <div class="table-row_locked"
           *ngIf="locked.length > 0"
           [style.flex-grow]="lockedFlex"
           [style.flex-basis.px]="lockedWidth"
           [style.min-width.px]="lockedWidth">
        <div class="cell align-center justify-content-center"
             style="width: 28px;"
             *ngIf="selectType === selectTypeEnum.checkBox && locked.length < 1">
          <teta-icon [name]="'sumColor'"></teta-icon>
        </div>
        <div class="cell cell-component aggregate-cell"
             *ngFor="let column of locked; let colIndex = index; trackBy: trackColumns;"
             [attr.data-column]="column.name"
             [ngClass]="column.cellClass"
             [attr.tabindex]="0"
             [style.flex-grow]="column.flex"
             [style.flex-basis.px]="column.width">
        <span class="cell-text cell-text_numeric font-title-3">
          {{loc[getAggregateText(column)]}}:
          {{getAggregateValue(column) | tetaNumber : 2}}
        </span>
        </div>
      </div>
      <div class="cell align-center justify-content-center"
           style="width: 28px;"
           *ngIf="selectType === selectTypeEnum.checkBox && locked.length < 1">
        <teta-icon [name]="'sumColor'"></teta-icon>
      </div>
      <div class="cell cell-component aggregate-cell"
           *ngFor="let column of unlocked; let colIndex = index; trackBy: trackColumns;"
           [attr.data-column]="column.name"
           [ngClass]="column.cellClass"
           [attr.tabindex]="0"
           [style.flex-grow]="column.flex"
           [style.flex-basis.px]="column.width">
      <span class="cell-text cell-text_numeric font-title-3">
        {{loc[getAggregateText(column)]}}:
        {{getAggregateValue(column) | tetaNumber : 2}}
      </span>
      </div>
    </div>
  </ng-container>
</ng-template>
<ng-template #emptyRow>
  <div class="empty-table-row"
       [style.flex-grow]="totalFlex"
       [style.flex-basis.px]="totalWidth"
       [style.min-width.px]="totalWidth">
  </div>
</ng-template>
