<teta-table [data]="data"
            [cookieName]="'table-stories'"
            [columns]="columns"
            [virtual]="virtual"
            [dict]="dict"
            [contextMenu]="contextMenu"
            [filterOptions]="dict"
            [editType]="editType"
            [editEvent]="editEvent"
            [selectType]="selectType"
            (tableService)="tableService = $event"
            (cellEditEnd)="log('cellEditEnd', $event)"
            (cellEditStart)="cellEditStart($event)"
            (rowEditEnd)="log('rowEditEnd', $event)"
            (rowEditStart)="log('rowEditStart', $event)"
            (activeRowChange)="activeRow = $event"></teta-table>
<ng-template let-data #dropdownTpl>
  <div class="padding-2">
    Some additional stuff here
  </div>
</ng-template>
<ng-template let-data #contextMenu>
  <div class="list shadow-2">
    <div class="list-item list-item_interactive">Copy</div>
    <div class="list-item list-item_interactive">Paste</div>
    {{activeRow.data | json}}
  </div>
</ng-template>
