<teta-table [data]="data"
            [cookieName]="'table-stories'"
            [columns]="columns"
            [virtual]="virtual"
            [dict]="dict"
            [editType]="editType"
            [editEvent]="editEvent"
            [selectType]="selectType"
            (tableService)="tableService = $event"
            (bodyLeft)="log('bodyLeft', $event)"
            (cellClick)="log('cellClick', $event)"
            (cellDoubleClick)="log('cellDoubleClick', $event)"
            (cellEditEnd)="log('cellEditEnd', $event)"
            (cellEditStart)="log('cellEditStart', $event)"
            (cellFocus)="log('cellFocus', $event)"
            (cellKeyUp)="log('cellKeyUp', $event)"
            (rowEditEnd)="log('rowEditEnd', $event)"
            (rowEditStart)="log('rowEditStart', $event)"
            (rowLeft)="log('rowLeft', $event)"
            (selectedRowsChange)="log('selectedRowsChange', $event)"
            (stateChange)="log('stateChange', $event)"
            (valueChange)="log('valueChange', $event)"
            (activeRowChange)="log('activeRowChange', $event)"></teta-table>
