<teta-dropdown
  class="row row_auto"
  [disabled]="disabled"
  [open]="open"
  [autoCloseIgnore]="['esc', 'inside']"
  (openChange)="openPicker($event)"
  [align]="align"
  [verticalAlign]="verticalAlign"
  [appendToBody]="appendToBody"
  [backdrop]="backdrop">
  <div tetaDropdownHead
       class="datepicker-head font-body-3"
       [class.datepicker-head_disabled]="disabled"
       [class.datepicker-head_invalid]="invalid">
    <teta-icon [name]="'calendar'" class="margin-right-1"></teta-icon>
    <div class="row_auto nowrap">
      {{currentValue !== null && currentValue !== undefined ? (currentValue | date : format) : ''}}
    </div>
    <teta-icon *ngIf="allowNull"
               [name]="'closeBig'"
               (click)="clearPicker($event);"
               class="margin-left-1"></teta-icon>
  </div>
  <teta-scrollable tetaDropdownContent (click)="$event.preventDefault()">
    <div class="padding-3">
      <div class="row align-center justify-content-between">
        <div>
          <button teta-button
                  type="button"
                  [palette]="'text'"
                  [view]="displayMode===datePickerModeEnum.month ? 'primary' : 'ghost'"
                  (click)="setMode(datePickerModeEnum.month)"
                  (wheel)="scrollMonth($event);">
            {{locale.months[internalValue?.getMonth()]}}
          </button>
          <button teta-button
                  type="button"
                  class="margin-left-2"
                  [palette]="'text'"
                  [view]="displayMode===datePickerModeEnum.year ? 'primary' : 'ghost'"
                  (click)="setMode(datePickerModeEnum.year)"
                  (wheel)="scrollYear($event);">
            {{internalValue?.getFullYear()}}
          </button>
        </div>
        <button teta-button
                type="button"
                [palette]="'text'"
                [view]="'ghost'"
                (click)="setToday()">
          <teta-icon [name]="'calendar'"></teta-icon>
        </button>
      </div>
      <div class="datepicker-content">
        <teta-year-select
          *ngIf="displayMode === datePickerModeEnum.year"
          [currentYear]="internalValue?.getFullYear()"
          [today]="today"
          [minDate]="minDate"
          [maxDate]="maxDate"
          (yearSelected)="setYear($event)">
        </teta-year-select>
        <teta-month-select
          *ngIf="displayMode === datePickerModeEnum.month"
          [currentMonth]="internalValue?.getMonth()"
          [currentYear]="internalValue?.getFullYear()"
          [locale]="locale"
          [minDate]="minDate"
          [maxDate]="maxDate"
          (monthSelected)="setMonth($event)">
        </teta-month-select>
        <teta-day-select
          *ngIf="displayMode === datePickerModeEnum.date"
          [ngModel]="currentValue"
          (ngModelChange)="applyValue($event)"
          (dateSelected)="setDate($event)"
          (yearSelected)="setYear($event)"
          (monthSelected)="setMonth($event)"
          [minDate]="minDate"
          [maxDate]="maxDate"
          [firstDayOfWeek]="firstDayOfWeek"
          [disabledDays]="disabledDays"
          [disabledDates]="disabledDates"
          [disabledPeriods]="disabledPeriods"></teta-day-select>
      </div>
    </div>
    <div *ngIf="showTime" class="datepicker-time padding-v-1 border-top border-text-10 font-body-3 color-text-90">
      <teta-time-part-control [max]="23" [ngModel]="internalValue?.getHours()"
                              (ngModelChange)="setHour($event)"></teta-time-part-control>
      :
      <teta-time-part-control [ngModel]="internalValue?.getMinutes()"
                              (ngModelChange)="setMinute($event)"></teta-time-part-control>
      :
      <teta-time-part-control [ngModel]="internalValue?.getSeconds()"
                              (ngModelChange)="setSecond($event)"></teta-time-part-control>
    </div>
  </teta-scrollable>
</teta-dropdown>
