<div class="column column_auto">
  <teta-table-head
    [selectType]="selectType"
    [showHeadCellMenu]="showHeadCellMenu"></teta-table-head>
  <teta-table-body
    [tetaContextMenu]="contextMenu"
    [open]="contextMenuOpen"
    (openChange)="setContextMenuOpen($event)"
    [aggregate]="aggregate"
    [virtual]="virtual"
    [activeRow]="activeRow"
    [selectedRows]="selectedRowsList"
    [additionalComponent]="detailComponent"
    [grouping]="grouping"
    [groupRowComponent]="groupRowComponent"
    [openLevels]="openLevels"
    [selectType]="selectType"
    [rowClass]="rowClass"
    [tree]="tree"></teta-table-body>
</div>
