@if ({ y: y | async, x: x | async, points: displayPoints | async }; as data) { @if (series?.fillType ===
fillType.gradient) {
<svg:defs>
  <svg:linearGradient
    [id]="'gradient-fill-' + id"
    gradientUnits="userSpaceOnUse"
    x1="0%"
    [attr.y1]="config?.inverted ? '0%' : '100%'"
    [attr.x2]="config?.inverted ? '100%' : '0%'"
    y2="0%"
  >
    <svg:stop offset="0%" [attr.stop-color]="series.style?.fill ?? series.color" stop-opacity="0"></svg:stop>
    <svg:stop offset="5%" [attr.stop-color]="series.style?.fill ?? series.color" stop-opacity="0.1"></svg:stop>
    <svg:stop offset="20%" [attr.stop-color]="series.style?.fill ?? series.color" stop-opacity="0.2"></svg:stop>
    <svg:stop offset="60%" [attr.stop-color]="series.style?.fill ?? series.color" stop-opacity="0.5"></svg:stop>
    <svg:stop offset="100%" [attr.stop-color]="series.style?.fill ?? series.color" stop-opacity="0.9"></svg:stop>
  </svg:linearGradient>
</svg:defs>
} @if (data.x && data.y) { @for (point of data.points; track point) {
<svg:g (mouseenter)="mouseenter(point)" (mouseleave)="mouseleave(point)">
  <svg:rect
    x="0"
    [attr.y]="data.y(point.y)"
    [attr.height]="Math.abs(data.y(point.y1) - data.y(point.y))"
    [attr.fill]="
      series.fillType === fillType.gradient
        ? 'url(#gradient-fill-' + id + ')'
        : point.iconId
        ? 'url(#pattern' + point.iconId + ')'
        : point.color ?? series.style?.fill ?? series.color
    "
    [attr.fill-opacity]="series.style?.fillOpacity"
    width="100%"
  ></svg:rect>
  @if (point.text && data.y(point.y1) - data.y(point.y) > 8) {
  <svg:text
    x="50%"
    [attr.y]="(data.y(point.y1) + data.y(point.y)) / 2"
    alignment-baseline="middle"
    text-anchor="middle"
  >
    {{ point.text }}
  </svg:text>
  }
  <svg:line
    x1="0"
    x2="100%"
    [attr.y1]="data.y(point.y)"
    [attr.y2]="data.y(point.y)"
    [attr.stroke]="point.iconId ? 'var(--color-text-10)' : point.color ?? series.style?.stroke ?? series.color"
  ></svg:line>
  <svg:line
    x1="0"
    x2="100%"
    [attr.y1]="data.y(point.y1)"
    [attr.y2]="data.y(point.y1)"
    [attr.stroke]="point.iconId ? 'var(--color-text-10)' : point.color ?? series.style?.stroke ?? series.color"
  ></svg:line>
</svg:g>
} } }
