html[data-theme='basedark'] {
        --color-global-link: #79c6ff;
  --color-global-white: #ffffff;
  --color-global-bgcard: #1e1e1e;
  --color-global-bgmain: #161616;
  --color-text-5: rgba(255, 255, 255, 0.06);
  --color-text-10: rgba(255, 255, 255, 0.1);
  --color-text-20: rgba(255, 255, 255, 0.24);
  --color-text-30: rgba(255, 255, 255, 0.32);
  --color-text-40: rgba(255, 255, 255, 0.48);
  --color-text-50: rgba(255, 255, 255, 0.56);
  --color-text-60: rgba(255, 255, 255, 0.64);
  --color-text-70: rgba(255, 255, 255, 0.72);
  --color-text-80: rgba(255, 255, 255, 0.8);
  --color-text-90: rgba(255, 255, 255, 0.87);
  --color-primary-5: #252e54;
  --color-primary-10: #2b3a6e;
  --color-primary-20: #344d8d;
  --color-primary-30: #3d60ad;
  --color-primary-40: #4476ce;
  --color-primary-50: #4b8def;
  --color-primary-60: #62a0f5;
  --color-primary-70: #7ab3fa;
  --color-primary-80: #94c5fd;
  --color-primary-90: #afd6ff;
  --color-green-5: #232f26;
  --color-green-10: #2f4533;
  --color-green-20: #3a5d3d;
  --color-green-30: #437645;
  --color-green-40: #4c914a;
  --color-green-50: #59ae50;
  --color-green-60: #68c068;
  --color-green-70: #81d088;
  --color-green-80: #9ddea8;
  --color-green-90: #c4f5d1;
  --color-red-5: #3a282d;
  --color-red-10: #56353b;
  --color-red-20: #753f45;
  --color-red-30: #964748;
  --color-red-40: #ba554d;
  --color-red-50: #e06850;
  --color-red-60: #ec8065;
  --color-red-70: #f6997d;
  --color-red-80: #fcb398;
  --color-red-90: #ffccb6;
  --color-yellow-5: #402f1d;
  --color-yellow-10: #5b401f;
  --color-yellow-20: #7a541d;
  --color-yellow-30: #9d6c17;
  --color-yellow-40: #c4890d;
  --color-yellow-50: #eeab00;
  --color-yellow-60: #fdc730;
  --color-yellow-70: #ffdf60;
  --color-yellow-80: #fff18f;
  --color-yellow-90: #fffcbf;
  --color-chart-coffee: #cdbcbc;
  --color-chart-light-purple: #cfaeff;
  --color-chart-mandarin: #ffa496;
  --color-chart-purple: #816af8;
  --color-chart-green: #59ae50;
  --color-chart-blue: #286cfd;
  --color-chart-peach: #ffd297;
  --color-chart-lemon: #ffe701;
  --color-chart-light-blue: #83cfff;
  --color-chart-turquoise: #2bd8c5;
  --color-chart-cadet-blue: #54adad;
  --color-chart-red: #e55759;
  --color-chart-acid-orange: #f67a1a;
  --color-chart-mustard: #d8b655;
  --color-chart-orange: #f6b520;
  --color-chart-light-green: #46d39a;
  --shadow-1: 0px 1px 0px 0px #0b0b0cff;
  --shadow-2: 0px 14px 18px 0px #0000004d;
  --shadow-3: 0px 8px 16px 0px #00000066;
  --shadow-4: 0px 12px 24px 0px #00000066;
  --shadow-5: 0px 16px 32px 0px #00000066;
    }