:root {
        --font-h1-font-size: 92;
  --font-h1-text-decoration: none;
  --font-h1-font-family: Inter;
  --font-h1-font-weight: 600;
  --font-h1-font-style: normal;
  --font-h1-font-stretch: normal;
  --font-h1-letter-spacing: 0.15;
  --font-h1-line-height: 110.4;
  --font-h1-paragraph-indent: 0;
  --font-h1-paragraph-spacing: 0;
  --font-h1-text-case: none;
  --font-h2-font-size: 60;
  --font-h2-text-decoration: none;
  --font-h2-font-family: Inter;
  --font-h2-font-weight: 600;
  --font-h2-font-style: normal;
  --font-h2-font-stretch: normal;
  --font-h2-letter-spacing: 0.15;
  --font-h2-line-height: 72;
  --font-h2-paragraph-indent: 0;
  --font-h2-paragraph-spacing: 0;
  --font-h2-text-case: none;
  --font-h3-font-size: 48;
  --font-h3-text-decoration: none;
  --font-h3-font-family: Inter;
  --font-h3-font-weight: 600;
  --font-h3-font-style: normal;
  --font-h3-font-stretch: normal;
  --font-h3-letter-spacing: 0.15;
  --font-h3-line-height: 57.6;
  --font-h3-paragraph-indent: 0;
  --font-h3-paragraph-spacing: 0;
  --font-h3-text-case: none;
  --font-h4-font-size: 35;
  --font-h4-text-decoration: none;
  --font-h4-font-family: Inter;
  --font-h4-font-weight: 600;
  --font-h4-font-style: normal;
  --font-h4-font-stretch: normal;
  --font-h4-letter-spacing: 0.15;
  --font-h4-line-height: 44;
  --font-h4-paragraph-indent: 0;
  --font-h4-paragraph-spacing: 0;
  --font-h4-text-case: none;
  --font-h5-font-size: 28;
  --font-h5-text-decoration: none;
  --font-h5-font-family: Inter;
  --font-h5-font-weight: 500;
  --font-h5-font-style: normal;
  --font-h5-font-stretch: normal;
  --font-h5-letter-spacing: 0.15;
  --font-h5-line-height: 33.6;
  --font-h5-paragraph-indent: 0;
  --font-h5-paragraph-spacing: 0;
  --font-h5-text-case: none;
  --font-h6-font-size: 20;
  --font-h6-text-decoration: none;
  --font-h6-font-family: Inter;
  --font-h6-font-weight: 500;
  --font-h6-font-style: normal;
  --font-h6-font-stretch: normal;
  --font-h6-letter-spacing: 0.15;
  --font-h6-line-height: 28;
  --font-h6-paragraph-indent: 0;
  --font-h6-paragraph-spacing: 0;
  --font-h6-text-case: none;
  --font-title1-font-size: 16;
  --font-title1-text-decoration: none;
  --font-title1-font-family: Inter;
  --font-title1-font-weight: 500;
  --font-title1-font-style: normal;
  --font-title1-font-stretch: normal;
  --font-title1-letter-spacing: 0.024;
  --font-title1-line-height: 24;
  --font-title1-paragraph-indent: 0;
  --font-title1-paragraph-spacing: 0;
  --font-title1-text-case: none;
  --font-title2-font-size: 14;
  --font-title2-text-decoration: none;
  --font-title2-font-family: Inter;
  --font-title2-font-weight: 500;
  --font-title2-font-style: normal;
  --font-title2-font-stretch: normal;
  --font-title2-letter-spacing: 0;
  --font-title2-line-height: 20;
  --font-title2-paragraph-indent: 0;
  --font-title2-paragraph-spacing: 0;
  --font-title2-text-case: none;
  --font-title3-font-size: 12;
  --font-title3-text-decoration: none;
  --font-title3-font-family: Inter;
  --font-title3-font-weight: 500;
  --font-title3-font-style: normal;
  --font-title3-font-stretch: normal;
  --font-title3-letter-spacing: 0;
  --font-title3-line-height: 16;
  --font-title3-paragraph-indent: 0;
  --font-title3-paragraph-spacing: 0;
  --font-title3-text-case: none;
  --font-body1-font-size: 16;
  --font-body1-text-decoration: none;
  --font-body1-font-family: Inter;
  --font-body1-font-weight: 400;
  --font-body1-font-style: normal;
  --font-body1-font-stretch: normal;
  --font-body1-letter-spacing: 0;
  --font-body1-line-height: 24;
  --font-body1-paragraph-indent: 0;
  --font-body1-paragraph-spacing: 10;
  --font-body1-text-case: none;
  --font-body2-font-size: 14;
  --font-body2-text-decoration: none;
  --font-body2-font-family: Inter;
  --font-body2-font-weight: 400;
  --font-body2-font-style: normal;
  --font-body2-font-stretch: normal;
  --font-body2-letter-spacing: 0;
  --font-body2-line-height: 20;
  --font-body2-paragraph-indent: 0;
  --font-body2-paragraph-spacing: 8;
  --font-body2-text-case: none;
  --font-body3-font-size: 12;
  --font-body3-text-decoration: none;
  --font-body3-font-family: Inter;
  --font-body3-font-weight: 400;
  --font-body3-font-style: normal;
  --font-body3-font-stretch: normal;
  --font-body3-letter-spacing: 0;
  --font-body3-line-height: 16;
  --font-body3-paragraph-indent: 0;
  --font-body3-paragraph-spacing: 6;
  --font-body3-text-case: none;
  --font-button1-font-size: 13;
  --font-button1-text-decoration: none;
  --font-button1-font-family: Inter;
  --font-button1-font-weight: 500;
  --font-button1-font-style: normal;
  --font-button1-font-stretch: normal;
  --font-button1-letter-spacing: 0;
  --font-button1-line-height: 20;
  --font-button1-paragraph-indent: 0;
  --font-button1-paragraph-spacing: 0;
  --font-button1-text-case: none;
  --font-button2-font-size: 11;
  --font-button2-text-decoration: none;
  --font-button2-font-family: Inter;
  --font-button2-font-weight: 500;
  --font-button2-font-style: normal;
  --font-button2-font-stretch: normal;
  --font-button2-letter-spacing: 0;
  --font-button2-line-height: 16;
  --font-button2-paragraph-indent: 0;
  --font-button2-paragraph-spacing: 0;
  --font-button2-text-case: none;
  --font-button3-font-size: 10;
  --font-button3-text-decoration: none;
  --font-button3-font-family: Inter;
  --font-button3-font-weight: 500;
  --font-button3-font-style: normal;
  --font-button3-font-stretch: normal;
  --font-button3-letter-spacing: 0;
  --font-button3-line-height: 14;
  --font-button3-paragraph-indent: 0;
  --font-button3-paragraph-spacing: 0;
  --font-button3-text-case: none;
  --font-caption-font-size: 11;
  --font-caption-text-decoration: none;
  --font-caption-font-family: Inter;
  --font-caption-font-weight: 400;
  --font-caption-font-style: normal;
  --font-caption-font-stretch: normal;
  --font-caption-letter-spacing: 0;
  --font-caption-line-height: 16;
  --font-caption-paragraph-indent: 0;
  --font-caption-paragraph-spacing: 0;
  --font-caption-text-case: none;
  --font-caption-semi-font-size: 11;
  --font-caption-semi-text-decoration: none;
  --font-caption-semi-font-family: Inter;
  --font-caption-semi-font-weight: 600;
  --font-caption-semi-font-style: normal;
  --font-caption-semi-font-stretch: normal;
  --font-caption-semi-letter-spacing: 0;
  --font-caption-semi-line-height: 16;
  --font-caption-semi-paragraph-indent: 0;
  --font-caption-semi-paragraph-spacing: 0;
  --font-caption-semi-text-case: none;
  --font-overline-font-size: 10;
  --font-overline-text-decoration: none;
  --font-overline-font-family: Inter;
  --font-overline-font-weight: 600;
  --font-overline-font-style: normal;
  --font-overline-font-stretch: normal;
  --font-overline-letter-spacing: 1.5;
  --font-overline-line-height: 12;
  --font-overline-paragraph-indent: 0;
  --font-overline-paragraph-spacing: 0;
  --font-overline-text-case: uppercase;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-6: 6px;
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-12: 12px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-22: 22px;
  --spacing-24: 24px;
  --spacing-26: 26px;
  --spacing-28: 28px;
  --spacing-30: 30px;
  --spacing-32: 32px;
  --radius-0: 0px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-14: 14px;
  --radius-16: 16px;
  --radius-18: 18px;
  --radius-20: 20px;
  --radius-22: 22px;
  --radius-24: 24px;
  --radius-btn-brick: 0px;
  --radius-btn-round: 8px;
  --radius-btn-circle: 24px;
  --radius-field-brick: 0px;
  --radius-field-round: 8px;
  --radius-field-circle: 24px;
    }