<ng-container *ngIf="{axes:axes|async}as data">
<ngts-text *ngFor="let tick of data.axes?.y;let i=index" [text]="tick.value+'-'"
           [color]="'var(--color-text-90)'"
           [rotation]="rotation"
           [fontSize]="2.5"
           [position]="[0,tick.position,50]"
           [anchorX]="'right'"
           [anchorY]="'middle'"
           [textAlign]="'right'"
></ngts-text>
<ngts-text *ngFor="let tick of data.axes?.z;let i=index"  [text]="tick.value"
           [color]="'var(--color-text-90)'"
           [rotation]="rotation"
           [fontSize]="2.5"
           [position]="[25,-50,tick.position]"
           ></ngts-text>
</ng-container>
