@use "sass:map";

$font-sizes: (
  '24':11px,
  '28':11px,
  '32':11px,
  '44':14px,
  '64':16px,
  '128':28px,
  '200':35px
);

$sizes: (
  '24':24,
  '28':28,
  '32':32,
  '44':44,
  '64':64,
  '128':128,
  '200':200
);

.avatar{
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}
@each $sizeName, $size in $sizes {
  .avatar_rounded-size-#{$sizeName} {
    height: #{$size}px;
    width: #{$size}px;
    border-radius: 8px;
    font-size: map-get($font-sizes, $sizeName);
    img{
      height: #{$size}px;
      width: #{$size}px;
      border-radius: 8px;
    }
    div{
      height: #{$size}px;
      width: #{$size}px;
      border-radius: 8px;
    }
  }

  .avatar_brick-size-#{$sizeName} {
    height: #{$size}px;
    width: #{$size}px;
    border-radius: 0;
    font-size: map-get($font-sizes, $sizeName);
    img{
      height: #{$size}px;
      width: #{$size}px;
      border-radius: 0;
    }
    div{
      height: #{$size}px;
      width: #{$size}px;
      border-radius: 0;
    }
  }

  .avatar_circle-size-#{$sizeName} {
    height: #{$size}px;
    width: #{$size}px;
    border-radius: #{$size}px;
    font-size: map-get($font-sizes, $sizeName);
    img{
      height: #{$size}px;
      width: #{$size}px;
      border-radius: #{$size}px;
    }
    div{
      height: #{$size}px;
      width: #{$size}px;
      border-radius: #{$size}px;
    }
  }
}
