<span [style.display]="edit ? 'none' : 'block'"
      class='cell-text'
      [class.cell-text_disabled]='!editable'>
  {{getValue(control.value)}}
</span>
<teta-select #input
             class='row_auto select-table'
             *ngIf='edit'
             [allowNull]='!column.required'
             [verticalAlign]='verticalAlign.auto'
             [appendToBody]='true'
             [options]='displayFilterOptions'
             [valueRef]="'id'"
             [textRef]="'name'"
             [searchRef]="displayFilterOptions?.length > 20 ? 'name' : ''"
             [formControl]='control'>
</teta-select>
