<teta-scroll-container class="column column_auto">
  <teta-accordion>
    @for (axis of scales()?.x.values(); track axis.index) {
      @if (axis.options.visible) {
        <teta-accordion-item [viewType]="'rounded'" [divider]="true">
          <teta-accordion-head style="padding: 2px 8px">
            <div class="list-item">{{ axis.options.title || 'X ' + (axis.index + 1) }}</div>
          </teta-accordion-head>
          <ng-template tetaAccordionContent>
            <div class="column gap-8">
              <teta-input label="Min">
                <input
                  class="input"
                  [tetaOnlyNumber]="true"
                  [ngModel]="axis.options.min"
                  (ngModelChange)="setAxisBound(AxisOrientation.x, axis.index, 'min', $event)"
                  [ngModelOptions]="{updateOn: 'blur'}"
                />
              </teta-input>
              <teta-input label="Max">
                <input
                  class="input"
                  [tetaOnlyNumber]="true"
                  [ngModel]="axis.options.max"
                  (ngModelChange)="setAxisBound(AxisOrientation.x, axis.index, 'max', $event)"
                  [ngModelOptions]="{updateOn: 'blur'}"
                />
              </teta-input>
            </div>
          </ng-template>
        </teta-accordion-item>
      }
    }
    @for (axis of scales()?.y.values(); track axis.index) {
      @if (axis.options.visible && axis.selfSize > 0) {
        <teta-accordion-item [viewType]="'rounded'" [divider]="true">
          <teta-accordion-head style="padding: 2px 8px">
            <div class="list-item">{{ axis.options.title || 'Y ' + (axis.index + 1) }}</div>
          </teta-accordion-head>
          <ng-template tetaAccordionContent>
            <div class="column gap-8">
              <teta-input label="Min">
                <input
                  class="input"
                  [tetaOnlyNumber]="true"
                  [ngModel]="axis.options.min"
                  (ngModelChange)="setAxisBound(AxisOrientation.y, axis.index, 'min', $event)"
                  [ngModelOptions]="{updateOn: 'blur'}"
                />
              </teta-input>
              <teta-input label="Max">
                <input
                  class="input"
                  [tetaOnlyNumber]="true"
                  [ngModel]="axis.options.max"
                  (ngModelChange)="setAxisBound(AxisOrientation.y, axis.index, 'max', $event)"
                  [ngModelOptions]="{updateOn: 'blur'}"
                />
              </teta-input>
            </div>
          </ng-template>
        </teta-accordion-item>
      }
    }
  </teta-accordion>
</teta-scroll-container>
