<ng-container *ngIf="column.columns && column.columns.length > 0">
  <div class="table-head__group__container">
    <div class="table-head__group__caption">
      {{column.caption}}
    </div>
    <div class="table-head__group__children">
      <ng-container *ngFor="let col of column.columns">
        <teta-table-head-group
          class="table-head__group"
          *ngIf="!columnIsHidden(col)"
          [showHeadCellMenu]="showHeadCellMenu"
          [column]="col"></teta-table-head-group>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="!column.columns || column.columns.length === 0">
  <teta-head-cell
    *ngIf="!columnIsHidden(column)"
    class="table-head__cell"
    [showHeadCellMenu]="showHeadCellMenu"
    [attr.data-column]="column.name"
    [column]="column"></teta-head-cell>
</ng-container>
