<ng-container *ngIf="{lithotypes:lithotypes|async,scales:svc.scales|async}as data">
  <ng-container *ngFor="let mesh of data.lithotypes;let i=index">
    <ngt-primitive *args="[mesh[0].component]"></ngt-primitive>
    <ngts-text [text]="series.data[i].lithotypeName"
               color="black"
               [fontSize]="2.5"
               [rotation]="[0,Math.PI/2,0]"
               [position]="[1,mesh[0].position,5]"
               [textAlign]="'left'"
               [anchorX]="'center'"
               [anchorY]="'middle'"></ngts-text>
    <ngt-primitive *args="[mesh[1].component]"></ngt-primitive>
  </ng-container>
</ng-container>

