@if (locale | async; as loc) {
<div class="form-row padding-3">
  <teta-input [label]="loc.from">
    <input
      class="input"
      type="text"
      style="width: 110px"
      [tetaOnlyNumber]="true"
      [ngModel]="filter.value?.greaterThan"
      (ngModelChange)="filter.value.greaterThan = $event"
    />
  </teta-input>
  <teta-input [label]="loc.to">
    <input
      class="input"
      type="text"
      style="width: 110px"
      [tetaOnlyNumber]="true"
      [ngModel]="filter.value?.lessThan"
      (ngModelChange)="filter.value.lessThan = $event"
    />
  </teta-input>
</div>
}
