<h3 class="padding-2 font-title-2">
  {{ title | transloco }}
</h3>

@if (text) {
  <p class="padding-2 font-body-3">
    {{ text | transloco }}
  </p>
}

<teta-toolbar class="justify-content-end">
  @if (decline) {
    <button teta-button (click)="cancel()" [palette]="decline?.palette || 'text'" [view]="'ghost'">
      @if (decline?.icon) {
        <teta-icon [name]="decline.icon"></teta-icon>
      }
      @if (decline.text) {
        {{ decline.text | transloco }}
      }
    </button>
  }

  <button teta-button (click)="ok()" [palette]="confirm?.palette || 'primary'">
    @if (confirm?.icon) {
      <teta-icon [name]="confirm.icon"></teta-icon>
    }
    @if (confirm.text) {
      {{ confirm.text | transloco }}
    }
  </button>
</teta-toolbar>
