<ng-container *ngIf="columns?.length">
  <ng-container *ngFor="let column of columns; trackBy: trackColumns">
    <teta-property-grid-item *ngIf="column.columns?.length < 1 && (column.editable || !hideNonEditable)"
                             [dict]="dict"
                             [column]="column"
                             [item]="item"
                             [id]="column.name"
                             [itemTemplates]="itemTemplates"
                             [decimalPart]="decimalPart"
                             [formGroup]="formGroup"
                             [horizontal]="horizontal"
                             (controlValueChange)="onControlValueChange($event)"
                             [hideNonEditable]="hideNonEditable"></teta-property-grid-item>
    <teta-property-grid-group *ngIf="column.columns?.length > 0 && (column.editable || !hideNonEditable)"
                              [id]="column.name"
                              [dict]="dict"
                              [column]="column"
                              [item]="item"
                              [itemTemplates]="itemTemplates"
                              [decimalPart]="decimalPart"
                              [formGroup]="formGroup"
                              [horizontal]="horizontal"
                              (controlValueChange)="onControlValueChange($event)"
                              [hideNonEditable]="hideNonEditable"></teta-property-grid-group>
  </ng-container>
</ng-container>
