<ng-container *ngIf="{
  hasSeriesData: hasSeriesData | async,
  svcConfig: svcConfig | async
} as data">
  <ng-container *ngIf="data.hasSeriesData === true else noData">
    <div class="column column_auto">
      <teta-chart-container class="chart-container position-relative"></teta-chart-container>
    </div>
    <teta-legend *ngIf="data.svcConfig.legend?.enable === true" [series]="data.svcConfig.series"></teta-legend>
  </ng-container>
</ng-container>
<ng-template #noData>
  <div class="column column_auto justify-content-center">
    <span class="font-body-3 color-text-40" style="overflow: hidden; text-overflow: ellipsis; text-align: center; white-space: nowrap">Данные отсутствуют</span>
  </div>
</ng-template>
