<ng-container *tetaLet="position | async as p">
  <ng-container *ngIf="tooltips | async as t">
    <div class="chart-tooltip color-text-90 bg-background-50 shadow-2"
         #tooltip
         [style.position]="'fixed'"
         *ngIf="t.length > 0"
         [style.opacity]="display | async"
         style="pointer-events: none; min-width: 200px;"
         [style.left.px]="p?.left"
         [style.top.px]="p?.top"
         [style.bottom.px]="p?.bottom"
         [style.right.px]="p?.right"
    >
      <ng-container *ngIf="config.tooltip?.template">
        <ng-container *ngTemplateOutlet="config.tooltip.template; context: {$implicit: t}"></ng-container>
      </ng-container>

      <ng-container *ngIf="config.tooltip?.format; else default">
        <div [innerHTML]="displayTooltips | async"></div>
      </ng-container>

      <ng-template #default>
        <div *ngIf="!config.tooltip?.template" class="padding-2 border-radius-1">
          <ng-container *ngFor="let tooltip of t">
            <div class="display-flex align-center">
            <span class="display-block margin-right-1" [style.width.px]="10" [style.height.px]="2"
                  [style.background-color]="tooltip.series?.color"></span>
              <span class="font-title-3">
            {{ tooltip.series?.name }}
                <span class="font-body-3">
              x: {{ format(tooltip.point?.x) }}
                  y: {{ format(tooltip.point?.y) }}
            </span>
          </span>
            </div>
          </ng-container>
        </div>
      </ng-template>
    </div>
  </ng-container>
</ng-container>



