<teta-dropdown
  class="row row_auto"
  [appendToBody]="appendToBody"
  [autoCloseIgnore]="['esc', 'inside']"
  [(open)]="showPicker"
  [disabled]="disabled">
  <div tetaDropdownHead
       (wheel)="scrollMonth($event)"
       class="datepicker-head font-body-3">
    <teta-icon [name]="'calendar'" class="margin-right-2"></teta-icon>
    <div class="row_auto">
      <ng-container *ngIf="_value !==null && _value!==undefined">
        {{locale.months[_value.getMonth()]}} {{_value.getFullYear()}}
      </ng-container>
    </div>
  </div>
  <div tetaDropdownContent class="scrollable padding-3">
    <div class="row align-center justify-content-between">
      <div>
        <button teta-button
                [palette]="'text'"
                [view]="displayMode===datePickerModeEnum.month ? 'primary' : 'ghost'"
                (click)="setMode(datePickerModeEnum.month)"
                (wheel)="scrollMonth($event);">
          {{locale.months[_currentMonth || today.getMonth()]}}
        </button>
        <button teta-button
                class="margin-left-2"
                [palette]="'text'"
                [view]="displayMode===datePickerModeEnum.year ? 'primary' : 'ghost'"
                (click)="setMode(datePickerModeEnum.year)"
                (wheel)="scrollYear($event);">
          {{_currentYear || today.getFullYear()}}
        </button>
      </div>
      <button teta-button
              [palette]="'text'"
              [view]="'ghost'"
              (click)="setToday()">
        <teta-icon [name]="'calendar'"></teta-icon>
      </button>
    </div>
    <div class="datepicker-content">
      <teta-year-select
        *ngIf="displayMode === datePickerModeEnum.year"
        [currentYear]="_currentYear"
        [today]="today"
        [size]="8"
        [minDate]="minDate"
        [maxDate]="maxDate"
        (yearSelected)="setYear($event)">
      </teta-year-select>
      <teta-month-select
        *ngIf="displayMode === datePickerModeEnum.month"
        [currentMonth]="_currentMonth"
        [locale]="locale"
        [currentYear]="_currentYear"
        [minDate]="minDate"
        [maxDate]="maxDate"
        (monthSelected)="setMonth($event)">
      </teta-month-select>
    </div>
  </div>
</teta-dropdown>
