@if (locale | async; as loc) {
  <div class="form-row padding-3">
    <teta-input [label]="loc.from">
      <teta-date-picker
        style="width: 110px"
        [ngModel]="filter.value?.greaterThan"
        [appendToBody]="false"
        (ngModelChange)="filter.value.greaterThan = $event"
      ></teta-date-picker>
    </teta-input>
    <teta-input [label]="loc.to">
      <teta-date-picker
        style="width: 110px"
        [ngModel]="filter.value?.lessThan"
        [appendToBody]="false"
        (ngModelChange)="filter.value.lessThan = $event"
      ></teta-date-picker>
    </teta-input>
  </div>
}
