<div draggable="true" class="row row_auto">
  <teta-dropdown *ngIf="showHeadCellMenu"
                 [autoCloseIgnore]="['enter']"
                 [verticalAlign]="verticalAlign.bottom"
                 [appendToBody]="true"
                 [(open)]="dropDownOpen"
                 [align]="align.left"
                 (click)="$event.preventDefault()"
                 [class.table-head__cell__menu_open]="dropDownOpen"
                 class="column column_auto justify-content-center">
    <div tetaDropdownHead class="table-head__cell__wrapper"
         [ngClass]="column.headCellClass">
      <teta-head-cell-host [column]="column" [data]="data"></teta-head-cell-host>
      <teta-icon *ngIf="iconName | async as icon"
                 [palette]="'text'"
                 [name]="icon"></teta-icon>

<!--      <button tetaDropdownHead teta-button-->
<!--              [square]="true"-->
<!--              [palette]="'text'"-->
<!--              [view]="'ghost'">-->
<!--        <teta-icon [palette]="'text'" [name]="'menu'"></teta-icon>-->
<!--      </button>-->


    </div>
    <teta-head-cell-dropdown tetaDropdownContent
                             (autosize)="autosizeColumn()"
                             (autosizeAll)="autosizeAllColumns()"
                             [data]="data"
                             [column]="column"
                             [columns]="columns | async"
                             [state]="state | async"
                             [(dropDownOpen)]="dropDownOpen"></teta-head-cell-dropdown>
  </teta-dropdown>
  <div class="drop-area"
       draggable="false"
       [class.drop-area_left]="showDrag === 'left'"
       [class.drop-area_right]="showDrag === 'right'"
       *ngIf="showDrag"></div>
</div>
<div class="table-head__cell__resize"
     draggable="false"
     (dragstart)="$event.preventDefault();$event.stopPropagation()"
     (drag)="$event.preventDefault();$event.stopPropagation()"
     [tetaResizeDrag]="'vertical'"
     (resizeStart)="resizeStart($event)"
     (resizeProcess)="resizeProcess($event)"
     (resizeEnd)="resizeEnd()"></div>
