<ng-container *ngIf='config && scales && minMax'>
  <ngt-scene>
    <ngts-orbit-controls [minAzimuthAngle]='0'
                         [maxAzimuthAngle]='Math.PI/2'
                         [maxZoom]='15'
                         [minZoom]='4'
                         (change)='setRotation()'></ngts-orbit-controls>
  </ngt-scene>
  <teta-area-3d></teta-area-3d>
  <ng-container *ngFor='let s of config?.series; '>
    <teta-series-3d-host [series]='s' [scales]='scales' *ngIf='s.data.length > 0'></teta-series-3d-host>
  </ng-container>
  <teta-axes-3d *ngIf='scales && minMax' [rotation]='rotation'
                [scales]='scales'
                [minMax]='minMax'></teta-axes-3d>
</ng-container>


