@import './util/font-util.scss';
@import './util/color-util.scss';
@import 'presets/view-types';

.accordion {
  display: block;

  &-item {
    background-color: var(--color-global-bgcard);
    display: block;
    overflow: hidden;
    transition: background-color 0.2s ease-in-out;

    &_active {
      background: var(--color-text-10);
    }

    &_rounded {
      border-radius: 8px;
    }
    &_brick {
      border-radius: 0;
    }
    &_circle {
      border-radius: 48px;

      .accordion-head,
      .accordion-content {
        padding: 12px 24px;
      }
    }
  }

  &-head {
    @include getFont($fonts, 'title-3');

    background-color: var(--color-global-bgcard);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 12px;
    padding: 12px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    &_disabled {
      color: var(--color-text-30);
      cursor: default;
    }

    &:hover:not(&_disabled) {
      cursor: pointer;
      background: var(--color-text-5);
    }

    &_open {
      background-color: transparent;
    }
  }

  &-content {
    display: block;
    padding: 8px;
  }
}

.accordion-toggle {
  display: block;
  width: 16px;
  height: 16px;
  transition: transform 0.2s ease-in-out;

  &_opened {
    transform: rotate(180deg);
  }
}
