@import "./common.scss";

.border {
  border-style: solid;
  border-width: 1px;
  @each $dir in $directions {
    &-#{$dir} {
      border-#{$dir}: solid 1px;
    }
  }
  @for $radius from 0 through 12 {
    &-radius-#{$radius} {
      border-radius: 1px * $radius!important;
    }
  }
}

.border-0 {
  border-width: 0;
}

.border-transparent {
  border-color: transparent;
}
