@import './util/color-util.scss';
@import './util/font-util.scss';
@import 'presets/view-types.scss';

.button {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  border: 0;
  color: var(--teta-button-color);
  fill: var(--teta-button-color);
  transition: all 0.3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: var(--teta-button-size);

  @include getView('btn');

  &:hover:not([disabled]) {
    cursor: pointer;
  }

  &-xs {
    --teta-button-size: 24px;
    @include getFont($fonts, 'button-3');

    padding: 0 8px;
  }

  &-s {
    --teta-button-size: 28px;
    @include getFont($fonts, 'button-2');

    padding: 0 12px;
  }

  &-m {
    --teta-button-size: 32px;
    @include getFont($fonts, 'button-2');

    padding: 0 16px;
  }

  &-l {
    --teta-button-size: 40px;
    @include getFont($fonts, 'title-2');

    padding: 0 24px;
  }

  &-xl {
    --teta-button-size: 48px;
    @include getFont($fonts, 'title-1');

    padding: 0 24px;
  }

  &-square {
    width: var(--teta-button-size);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  &:has(.loader) {
    pointer-events: none;
    color: transparent;
  }

  .loader::before {
    width: calc(var(--teta-button-size) / 2);
    height: calc(var(--teta-button-size) / 2);
    margin-left: calc(var(--teta-button-size) / 4 * -1);
    margin-top: calc(var(--teta-button-size) / 4 * -1);
    border-width: 2px;
    border-color: var(--teta-button-color);
    border-top-color: transparent;
  }
}
