@import "./util/color-util.scss";
@import "./util/font-util.scss";
@import "./util/button-util.scss";

.button {
  display: inline-flex;
  grid-gap: 4px;
  align-items: center;
  height: 28px;
  padding: 0 12px;
  border: 0;
  border-radius: 4px;
  color: getColorVar('white', '50');
  fill: getColorVar('white', '50');
  @include getFont($fonts, 'button-2');
  transition: background 0.4s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover:not([disabled]) {
    cursor: pointer;
  }

  &-xs {
    padding: 0;
    height: 16px;
  }

  &-square {
    width: 28px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  &[disabled] {

    filter: grayscale(1);
    opacity: 0.3;
  }

}

@each $paletteName in $palettes {
  @include generateButtonForPalette($paletteName);
}
