@import './util/color-util.scss';
@import './util/font-util.scss';
@import 'presets/view-types.scss';

@mixin loaderBorder($border-color) {
  border-color: $border-color;
  border-top-color: transparent;
}

.button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border: 0;
  color: var(--color-text-90);
  fill: var(--color-text-90);
  transition:
    background 0.4s,
    color 0.4s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.button_primary {
    color: var(--color-global-white);
    fill: var(--color-global-white);

    .loader {
      &::before {
        @include loaderBorder(var(--color-global-white));
      }
    }
  }

  @include getView('btn');

  &:hover:not([disabled]) {
    cursor: pointer;
  }

  &-s {
    height: 24px;
  }

  &-m {
    height: 28px;
  }

  &-l {
    height: 32px;
  }

  &-square {
    width: 28px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus-visible {
    border: none;
    background-color: var(--color-text-30);
  }

  &:focus-visible {
    box-shadow: 0 0 0 4px var(--color-primary-10);
  }

  &:has(.loader) {
    pointer-events: none;
    color: transparent;
  }

  .loader {
    &::before {
      @include loaderBorder(var(--color-text-90));

      width: 16px;
      height: 16px;
      margin-left: -8px;
      margin-top: -8px;
      border-width: 2px;
    }
  }
}
