@import "./util/color-util.scss";
@import "./util/font-util.scss";
@import "presets/view-types.scss";

.button {
  display: inline-flex;
  grid-gap: 6px;
  align-items: center;
  padding: 6px 8px;
  border: 0;
  color: var(--color-global-white);
  fill: var(--color-global-white);
  transition: background 0.4s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @include getView('btn');

  &:hover:not([disabled]) {
    cursor: pointer;
  }

  &-m {
    height: 28px;
  }

  &-l {
    height: 32px;
  }

  &-xs {
    padding: 0;
    height: 16px;
  }

  &-square {
    width: 28px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
  }

  &[disabled] {
    border: none;
    filter: grayscale(1);
    opacity: 0.3;
  }

  &:focus {
    box-shadow: 0 0 0 4px var(--color-primary-10);
  }
}
