@import "util/color-util.scss";

.checkbox {
  display: inline-flex;
  align-items: center;
  grid-gap: 8px;

  &_disabled {
    cursor: default!important;
    fill: var(--color-text-5)!important;
    color: var(--color-text-50)!important;
  }

  &__tick {
    background: var(--color-global-bgcard);
    border: solid 1px var(--color-text-20);
    border-radius: 4px;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_active {
      border: solid 0;
      border-radius: 4px;
      background: var(--color-primary-50);
      fill: var(--color-global-white);
    }
  }

  &:hover:not(&_disabled) {
    cursor: pointer;
  }


  &:hover:not(&_disabled) &__tick {
    background: var(--color-text-5);
    border-color: var(--color-text-30);

    &_active {
      background: var(--color-primary-60);
    }
  }


  @each $paletteName, $palette in map-get($themes, nth(map-keys($themes), 1)) {
    &.checkbox-#{$paletteName} {
      fill: getColorVar($paletteName, '50');
    }
  }
}
