@import "util/color-util.scss";

.checkbox {
  display: inline-flex;
  align-items: center;
  grid-gap: 8px;

  &__tick {
    background: var(--color-global-bgcard);
    border: solid 1px var(--color-text-20);
    border-radius: 4px;
    height: 16px;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) inset;
    &_active {
      border: solid 0;
      border-radius: 2px;
      background: var(--color-primary-50);
      fill: var(--color-global-white);
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover &__tick {
    border-color: var(--color-text-50);
  }

  @each $paletteName in $palettes {
    &.checkbox-#{$paletteName} {
      fill: getColorVar($paletteName, '50');
    }
  }
}
