@import "util/color-util.scss";
@import "util/font-util.scss";
.chip {
  height: 28px;
  @include getFont($fonts,'button-2');
  border: solid transparent 0;
  border-radius: 12px;
  background: var(--color-text-10);
  fill: var(--color-text-50);
  color: var(--color-text-90);
  margin-right: 4px;
  margin-top: 4px;
  display: inline-flex;
  align-items: center;
  padding: 4px 4px 4px 10px;
  gap: 8px;
  &:hover {
    cursor: pointer;
  }
}
