@import 'util/font-util.scss';
@import 'util/shadow-util.scss';
@import 'util/color-util.scss';
@import 'presets/view-types.scss';

.daterange {
  display: inline-flex;
  width: 200px;
  min-width: 0;

  @include getView('base');
}
.datepicker {
  display: inline-flex;
  width: 110px;
  min-width: 0;

  @include getView('base');

  &-time {
    width: 160px;
  }

  &-wide {
    width: 170px;
  }

  &-head {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    height: 28px;
    border: solid 1px var(--color-text-5);
    background: var(--color-text-5);
    background-clip: padding-box;
    color: var(--color-text-90);
    fill: var(--color-text-90);
    padding: 0 8px;
    transition:
      border-color 0.4s,
      background-color 0.4s;
    min-width: 0;

    &_disabled {
      background-color: var(--color-text-5);
      border: 0;
      color: var(--color-text-40);
    }

    &:focus-within {
      border-color: var(--color-primary-50);
    }

    &:hover:not(&_disabled):not(:focus-within) {
      background-color: var(--color-text-10);
      cursor: pointer;
    }

    &:active:not(&_disabled) {
      border-color: var(--color-primary-50);
    }

    &_invalid {
      border-color: var(--color-red-50);
    }
  }

  &-table &-head {
    border-radius: 0;
  }

  &:focus &-head,
  &_open &-head {
    border-color: var(--color-primary-50);
  }

  &-year {
    max-height: 200px;
    display: grid;
    width: 248px;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 12px;
    column-gap: 4px;

    &_item {
      transition: background 0.4s;
      min-height: 32px;

      &:hover:not(&_disabled):not(&_active) {
        cursor: pointer;
        background-color: var(--color-primary-5);
      }

      &_disabled {
        color: var(--color-text-30);
      }

      &_active {
        color: var(--color-global-white);
        background-color: var(--color-primary-50);
      }
    }
  }

  &-month {
    max-height: 200px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;

    &-wrapper {
      width: 248px;
    }

    &_item {
      transition: background 0.4s;
      min-height: 32px;

      &:hover:not(&_disabled):not(&_active) {
        cursor: pointer;
        background-color: var(--color-text-5);
      }

      &_active {
        color: var(--color-global-white);
        background-color: var(--color-primary-50);
      }
    }
  }

  &-content {
    user-select: none;
    max-height: 268px;
    overflow: hidden;
  }

  &-picker {
    display: grid;
    grid-template-columns: repeat(7, 32px);
    grid-template-rows: 32px;
  }

  &-week {
    display: grid;
    grid-template-columns: repeat(7, 32px);
  }

  &-day {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-arrow_hidden {
    visibility: hidden;
  }

  &-date {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0;

    &:hover:not(&_disabled):not(&_active):not(&-range_hover) {
      cursor: pointer;
      background-color: var(--color-primary-5);
    }

    &:hover:not(&_disabled):not(&_active) {
      cursor: pointer;
      background-color: var(--color-primary-50);
    }

    &-range {
      &_active {
        background-color: var(--color-primary-10);
      }

      &_active:not(.datepicker-date_active) {
        background-color: var(--color-primary-10);
        border-radius: 0;
      }

      &_hover {
        background-color: var(--color-primary-5);
      }

      &_hover:not(.datepicker-date_active) {
        background-color: var(--color-primary-5);
        border-radius: 0;
      }

      &_disabled {
        visibility: hidden;
      }
    }

    &_active:not(.datepicker-date-range_hover) {
      color: var(--color-global-white);
      background-color: var(--color-primary-50);
    }

    &_active-second {
      cursor: pointer;
      border-top-left-radius: 0;
      color: var(--color-global-white);
      background-color: var(--color-primary-50);
      border-bottom-left-radius: 0;
    }

    &_active-first {
      cursor: pointer;
      color: var(--color-global-white);
      background-color: var(--color-primary-50);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &_disabled {
      color: var(--color-text-30);
    }
  }

  &-time {
    display: flex;
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
  }
}
