@import "util/font-util.scss";
@import "util/shadow-util.scss";
@import "util/color-util.scss";

.datepicker {
  display: inline-flex;
  width: 110px;
  min-width: 0;

  &-wide {
    width: 170px;
  }

  &-head {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    height: 28px;
    border: solid 1px var(--color-text-10);
    background: var(--color-global-bgcard);
    color: var(--color-text-90);
    fill: var(--color-text-90);
    padding: 0 8px;
    transition: border-color 0.4s;
    min-width: 0;

    &_disabled {
      background-color: var(--color-text-5);
      border: 0;
      color: var(--color-text-40);
    }

    &:hover:not(&_disabled) {
      border-color: var(--color-text-40);
      cursor: pointer;
    }

    &_invalid {
      border-color: var(--color-red-50);
    }
  }

  &-table &-head {
    border-radius: 0;
  }

  &:focus &-head, &_open &-head {
    border-color: var(--color-primary-50);
  }

  //&-body {
  //  @include shadow(2);
  //  background-color: getColorVar('background', '50');
  //}

  &-year {
    max-height: 200px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;

    &_item {
      transition: background 0.4s;
      min-height: 32px;

      &:hover:not(&_disabled):not(&_active) {
        cursor: pointer;
        background-color: var(--color-text-5);
      }

      &_active {
        color: var(--color-global-white);
        background-color: var(--color-primary-50);
      }
    }


  }

  &-month {
    max-height: 200px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;

    &_item {
      transition: background 0.4s;
      min-height: 32px;

      &:hover:not(&_disabled):not(&_active) {
        cursor: pointer;
        background-color: var(--color-text-5);
      }

      &_active {
        color: var(--color-global-white);
        background-color: var(--color-primary-50);
      }
    }


  }

  &-content {
    width: 240px;
    user-select: none;
    max-height: 268px;
    overflow: hidden;
  }

  &-picker {
    display: grid;
    grid-template-columns: repeat(7, 32px);
    grid-template-rows: 32px;
  }

  &-week {
    display: grid;
    grid-template-columns: repeat(7, 32px);
  }

  &-day {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-date {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 0;

    &:hover:not(&_disabled):not(&_active) {
      cursor: pointer;
      background-color: var(--color-text-5);
    }

    &_active {
      color: var(--color-global-white);
      background-color: var(--color-primary-50);
    }

    &_disabled {
      color: var(--color-text-10);
    }
  }

  &-time {
    display: flex;
    grid-gap: 16px;
    align-items: center;
    justify-content: center;
  }
}
