@import 'util/color-util';
@import 'util/shadow-util';
@import 'presets/view-types.scss';

.dropdown {
  border: solid 1px var(--color-text-5);
  position: fixed;
  display: flex;
  z-index: 1050;
  box-shadow: var(--shadow-2);
  background: var(--color-global-bgcard);
  animation: fadeInFromNone 0.5s ease-out;

  @include getView('base');

  &-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
  }
}

@keyframes fadeInFromNone {
  0% {
    //display: none;
    opacity: 0;
  }

  1% {
    //display: flex;
    opacity: 0;
  }

  100% {
    //display: flex;
    opacity: 1;
  }
}
