@import 'util/shadow-util.scss';
@import 'util/color-util.scss';
@import 'presets/view-types.scss';
.hint {
  box-shadow: var(--shadow-1);
  padding: 8px;
  white-space: nowrap;
  z-index: 3;
  background-color: var(--color-global-bgmain);
  color: var(--color-text-90);
  border: solid 1px var(--color-text-5);
  border-radius: 8px;
  @include getView('base');
}
