@import "util/color-util.scss";

.icon {
  display: inline-flex;
  height: 16px;
  width: 16px;

  &-file {
    width: 32px;
    height: 40px;
  }
  @each $paletteName in $palettes {
    &.icon-#{$paletteName} {
      fill: getColorVar($paletteName, '70');
    }
  }
}
