@import "util/color-util.scss";
@import "util/font-util.scss";

.form-container {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

.form-row {
  display: flex;
  grid-gap: 8px;
  align-items: flex-end;
}

.input-container {
  display: flex;
  flex-grow: 1;
  min-width: 0;
  position: relative;
}

.input-message {
  position: absolute;
  top: 100%;
  right: 0;
  height: 12px;
  overflow: hidden;
}

.text-field, .input, .textarea {
  padding: 6px 8px;
  border: solid 1px var(--color-text-20);
  border-radius: 4px;
  background-color: var(--color-global-bgcard);
  color: var(--color-text-90);
  @include getFont($fonts, 'body-3');
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 4px;
  width: 100%;
  min-width: 0;
  transition: border-color 0.4s;

  &_invalid {
    border-color: var(--color-red-50);
  }

  &_required::after {
    margin-left: 4px;
    content: '*';
    color: var(--color-red-50);
  }

  &::placeholder {
    color: var(--color-text-40);
  }

  &:focus-within, &:focus {
    border-color: var(--color-primary-50);
  }

  &:focus-within {
    &::placeholder {
      color: var(--color-text-20);
    }

    input::placeholder {
      color: var(--color-text-20);
    }
  }

  &:disabled, &[disabled], &_disabled {
    border: 0;
    background: var(--color-text-5);
    color: var(--color-text-40);
  }

  &:hover:not([disabled]):not(&_disabled):not(:focus-within) {
    border-color: var(--color-text-30);
  }

  .close-icon {
    display: none;
    position: absolute;
    right: 4px;
  }

  &:hover:not([disabled]):not(&_disabled), &:focus-within {
    .close-icon {
      display: flex;
    }
  }
}

.text-field, .input {
  height: 28px;
}

.text-field {
  position: relative;

  input {
    color: var(--color-text-90);
    border-width: 0;
    width: 100%;
  }

  teta-icon {
    fill: var(--color-text-40);
  }
}

.textarea {
  resize: none;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-global-bgcard);
  border: dashed 1px var(--color-text-10);
  border-radius: 4px;
  transition: background 0.4s;
  grid-gap: 8px;

  &-label {
    flex-grow: 0;
    position: relative;
    display: flex;
    justify-content: center;
  }

  &-input {
    display: none;
  }

  &_active {
    background-color: var(--color-text-10);
  }
}

.form-group-title {
  height: 28px;
  display: flex;
  align-items: center;
  grid-gap: 8px;
  color: var(--color-text-50);

  &-text {
    flex-shrink: 0;
    text-transform: uppercase;
  }

  &-line {
    flex-grow: 1;
    height: 1px;
    background: var(--color-text-50);
  }
}
