@import 'util/color-util.scss';
@import 'util/font-util.scss';

.list {
  padding: 8px;
  display: inline-flex;
  flex-direction: column;
  border-radius: 8px;
  color: var(--color-text-90);
  background-color: var(--color-global-bgcard);
  @include getFont($fonts, 'body-3');
  position: relative;

  &-item {
    overflow: hidden;
    min-height: 28px;
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 8px;
    white-space: nowrap;
    background-color: transparent;
    transition: background 0.4s;
    grid-gap: 8px;

    &-xl {
      min-height: 44px;
      padding: 0 16px;
    }

    &_disabled {
      color: var(--color-text-20);
      pointer-events: none;
    }

    &_interactive {
      background-color: transparent;
      transition: background 0.4s;

      &:hover:not(&_disabled) {
        background-color: var(--color-text-5);
        cursor: pointer;
      }
      &:active:not(&_disabled) {
        background-color: var(--color-text-10);
      }
    }

    &_interactive#{&}_active {
      background-color: var(--color-text-10);
    }

    &:hover > .sublist {
      display: inherit;
    }
  }

  &-divider {
    height: 1px;
    flex-shrink: 0;
    margin: 8px 0;
    background-color: var(--color-text-10);
  }

  &-title {
    color: var(--color-text-50);
    @include getFont($fonts, 'overline');
  }
}

.sublist {
  position: absolute;
  top: -5px;
  left: 100%;
  display: none;

  &:hover {
    cursor: default;
  }
}
