@import "util/color-util.scss";

.loader {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    margin-left: -25px;
    margin-top: -25px;
    content: '';
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--color-primary-50);
    border-top-color: transparent;
    animation: spinner 1.5s linear infinite;
  }

  &-mask {
    background: var(--color-global-bgcard);
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader-icon {
  display: block;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid;
  border-top-color: transparent;
  animation: spinner 1.5s linear infinite;
}
