@import 'util/shadow-util.scss';

.message {
  position: relative;
  box-shadow: var(--shadow-2);
  display: inline-flex;
  flex-direction: column;
  padding: 8px;
  margin: 8px;
  border: solid 0;
  width: 320px;
  background: var(--color-global-bgcard);
  color: var(--color-text-90);

  @each $paletteName, $palette in map-get($themes, nth(map-keys($themes), 1)) {
    &#{'-' + $paletteName}::before {
      background: getColorVar($paletteName, '50');
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 4px;
      height: 100%;
    }
  }
}

.message-host {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 101;

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }

  &_center {
    left: 50%;
    transform: translateX(-50%);
  }

  &_top {
    left: 0;
  }

  &_bottom {
    bottom: 0;
  }

  &_vertical-center {
    top: 50%;
    transform: translateY(-50%);
  }
}
