@import "util/color-util.scss";
@import "util/shadow-util.scss";

.modal {
  &__backdrop {
    background: var(--color-text-50);
    z-index: 99;
  }

  &__window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__container {
    min-width: 300px;
    box-shadow: var(--shadow-5);;
    background-color: var(--color-global-bgcard);
    border: solid 0;
    border-radius: 4px;

    &_resize {
      resize: both;
    }
  }
}
