@import 'util/color-util.scss';

.progress {
  width: 100%;
  height: 4px;
  display: flex;
  background: var(--color-text-10);
  position: relative;

  &-bar {
    background: var(--color-primary-50);
  }

  &-slider {
    position: absolute;
    height: 12px;
    width: 12px;
    border: solid 0;
    margin-left: -6px;
    margin-top: -4px;
    border-radius: 6px;
    background: var(--color-primary-50);
  }

  &:hover &-slider,
  &-slider_visible {
    cursor: grab;
  }
}
