@import "util/font-util.scss";
@import "util/color-util.scss";

.radio {
  display: grid;
  grid-gap: 12px;
  grid-auto-rows: max-content;

  &-button {
    grid-gap: 4px;
    display: inline-flex;
    align-items: center;
    @include getFont($fonts, 'body-3');


    &_disabled {
      filter: grayscale(50%);
      color: var(--color-text-40);
    }

    &-icon {
      height: 16px;
      width: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      background: var(--color-global-bgcard);
      border: 1px solid var(--color-primary-50);
      flex-grow: 0;
      flex-shrink: 0;
    }

    &-icon:has(&-small-icon) {
      background: var(--color-primary-50);
      border: 0;
    }

    &_disabled &-icon {
      background-color: var(--color-text-5);
      color: var(--color-text-40);
      border: solid 1px var(--color-text-30);

    }

    &-small-icon {
      height: 8px;
      width: 8px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: solid 0 transparent;
      border-radius: 4px;
      background-color: var(--color-global-white);
    }

    &_disabled &-small-icon {
      background-color: var(--color-text-30);
    }

    &:hover:not(&_disabled) {
      cursor: pointer;
    }

    &:hover:not(&_disabled) &-icon {
      background: var(--color-primary-5);
      border-color: var(--color-primary-60);
    }

    &:hover:not(&_disabled) &-icon:has(&-small-icon) {
      background: var(--color-primary-60);
    }
  }
}
