@import "util/color-util.scss";
@import "util/font-util.scss";
@import "presets/view-types.scss";

.select {
  display: inline-flex;
  height: 28px;
  width: 100%;

  @include getView('field');

  &_multiple {
    min-height: 28px;
    height: unset;
  }

  &_disabled &-head {
    background-color: var(--color-text-5);
    border: 0;
    color: var(--color-text-40);
  }

  &-head {
    background-color: var(--color-text-5);
    border: solid 1px var(--color-text-5);
    color: var(--color-text-90);
    fill: var(--color-text-40);
    align-items: center;
    background-clip: padding-box;
    white-space: nowrap;
    padding: 0 8px;
    @include getFont($fonts, 'body-3');
    transition: border-color 0.4s, background-color 0.4s;
    overflow: hidden;

    &_invalid {
      border-color: var(--color-red-50);
    }
  }

  $p: &;

  &:hover:not(&_disabled) {
    #{$p}-head {
      cursor: pointer;
      background-color: var(--color-text-10);
      border-color: var(--color-text-10);
    }
  }

  &-chip-field {
    margin-top: 8px;
    padding: 4px 12px 0 12px;
    border-top: solid 1px var(--color-text-10);
  }

  &-table &-head {
    border-radius: 0;

    &:hover {
      cursor: pointer;
    }

    &-icon {
      position: absolute;
      left: 12px;
    }

    &-arrow {
      position: absolute;
      right: 12px;
    }
  }

  &:focus:not(&_disabled) &-head, &_open &-head {
    border-color: var(--color-primary-50);
  }

  &-search {
    display: inline-flex;
    align-items: center;
    flex: 1;
    padding-bottom: 8px;

    teta-text-field {
      border: none;
    }
  }
  &-body {
    margin-top: 2px;
    padding: 8px 0;
    @include getFont($fonts, 'body-3');
    display: inline-flex;
    flex-direction: column;
  }
}
