@import "util/shadow-util.scss";
@import "util/color-util.scss";

.sidebar {
  position: fixed;
  @include shadow(5);

  &-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: getColorVar('backdrop', '50');
  }

  &-left {
    left: 0;
    top: 0;
    height: 100%;
  }

  &-right {
    right: 0;
    top: 0;
    height: 100%;
  }

  &-top {
    top: 0;
    left: 0;
    width: 100%;
  }

  &-bottom {
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
