@import "util/font-util.scss";
@import "util/color-util.scss";

.switch {
  display: inline-flex;
  border: solid 0;
  height: 28px;
  padding: 2px;
  @include getFont($fonts, 'button-2');
  background: var(--color-text-5);
  color: var(--color-text-90);
  fill: var(--color-text-90);
  @include getView('field');

  &-button {
    display: inline-flex;
    padding: 0 8px;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    @include getView('field');

    &:active:not(&_active) {
      background: var(--color-text-10);
    }

    &:hover:not(&_active):not(&:active) {
      background: var(--color-text-5);
    }

    &_active {
      border: solid 0;
      background: var(--color-primary-50);
      fill: var(--color-text-90);
      color: var(--color-text-90);
    }
  }
}

