@import "util/font-util.scss";
@import "util/color-util.scss";

.switch {
  display: inline-flex;
  border: solid 0;
  border-radius: 4px;
  height: 28px;
  @include getFont($fonts, 'button-2');
  background: var(--color-global-bgcard);
  color: var(--color-text-90);
  fill: var(--color-text-90);

  &-button {
    display: inline-flex;
    padding: 0 8px;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
    &:hover:not(&_active) {
      background: var(--color-text-10);
    }

    &_active {
      border: solid 0;
      border-radius: 4px;
      background: var(--color-primary-50);
      fill: var(--color-global-white);
      color: var(--color-global-white);
    }
  }
}
