@import 'util/color-util.scss';
@import 'util/font-util.scss';

.tabs {
  display: flex;
  flex-direction: column;

  &-head {
    display: flex;

    &-item {
      @include getFont($fonts, 'button-2');

      border: none;
      height: 52px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      white-space: nowrap;
      color: var(--color-text-40);
      fill: var(--color-text-40);
      transition: color 0.2s ease-in-out, fill 0.2s ease-in-out;

      &:hover:not([disabled]) {
        cursor: pointer;
        color: var(--color-text-50);
        fill: var(--color-text-50);
      }

      &_active,
      &_active:hover:not([disabled]) {
        position: relative;
        color: var(--color-text-90);
        fill: var(--color-text-90);

        &::after {
          content: '';
          position: absolute;
          height: 2px;
          background-color: var(--color-primary-50);
          border: solid 0 transparent;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }

      &[disabled] {
        color: var(--color-text-20);
        fill: var(--color-text-20);

        &::after {
          background-color: var(--color-text-40);
        }
      }
    }

    &_small {
      gap: 24px;

      .tabs-head-item {
        height: 32px;
        padding: 0;
      }
    }
  }

  &_vertical {
    flex-direction: row;

    .tabs-head {
      flex-direction: column;
    }
  }

  &-title {
    display: inline-flex;
    align-items: center;
    gap: 6px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
  }
}
