@import "util/color-util.scss";
@import "util/font-util.scss";

.tabs {
  display: flex;
  flex-direction: column;

  &-head {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    height: 52px;

    &-item {
      display: flex;
      align-items: center;
      padding: 0 16px;
      white-space: nowrap;
      @include getFont($fonts, 'button-2');
      color: var(--color-text-60);
      fill: var(--color-text-40);

      &_disabled, &[disabled] {
        color: var(--color-text-20);
        fill: var(--color-text-20);
      }

      &:hover:not([disabled]):not(&_disabled) {
        cursor: pointer;
        color: var(--color-text-70);
        fill: var(--color-text-70);
      }

      &_active {
        position: relative;
        color: var(--color-text-90);
        fill: var(--color-text-70);

        &::after {
          content: '';
          position: absolute;
          height: 2px;
          background-color: var(--color-primary-50);
          border: solid 0 transparent;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
    }
  }

  &-title {
    display: inline-flex;
    align-items: center;
  }

  &-content {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-y: overlay;
  }
}
