<svg:rect
          class="plotband"
          [class.draggable]="plotBand?.draggable === true"
          [attr.fill]="getFill(plotBand)"
          [attr.opacity]="plotBand.style?.plotBand?.opacity"
          [attr.height]="axis.orientation === orientation.x ? height : bandSize"
          [attr.width]="axis.orientation === orientation.x ? bandSize : width"
          [attr.y]="axis.orientation === orientation.y ? to : null"
          [attr.x]="axis.orientation === orientation.x ? from : null">
</svg:rect>

<svg:line class="display-grabber"
          *ngIf="plotBand.showGrabbers"
          [attr.stroke]="plotBand.style?.grabbers?.stroke || 'red'"
          [attr.stroke-width]="plotBand.style?.grabbers?.strokeWidth || 4"
          [attr.stroke-dasharray]="plotBand.style?.grabbers?.strokeDasharray"
          [attr.x1]="axis.orientation === orientation.x ? from : 0"
          [attr.x2]="axis.orientation === orientation.x ? from : width"
          [attr.data-grabber]="'from'"
          [attr.y1]="axis.orientation === orientation.x ? 0 : from"
          [attr.y2]="axis.orientation === orientation.x ? height : from">
</svg:line>

<svg:line class="display-grabber"
          *ngIf="plotBand.showGrabbers"
          [attr.stroke]="plotBand.style?.grabbers?.stroke || 'red'"
          [attr.stroke-width]="plotBand.style?.grabbers?.strokeWidth || 4"
          [attr.stroke-dasharray]="plotBand.style?.grabbers?.strokeDasharray"
          [attr.x1]="axis.orientation === orientation.x ? to : 0"
          [attr.x2]="axis.orientation === orientation.x ? to : width"
          [attr.data-grabber]="'to'"
          [attr.y1]="axis.orientation === orientation.x ? 0 : to"
          [attr.y2]="axis.orientation === orientation.x ? height : to">
</svg:line>

<svg:line class="grabber"
          [class.x-grabber]="axis.orientation === orientation.x"
          [class.y-grabber]="axis.orientation === orientation.y"
          [class.resizeable]="plotBand?.resizable"
          [attr.stroke]="'red'"
          [attr.stroke-width]="8"
          opacity="0"
          [attr.x1]="axis.orientation === orientation.x ? from : 0"
          [attr.x2]="axis.orientation === orientation.x ? from : width"
          [attr.data-grabber]="'from'"
          [attr.y1]="axis.orientation === orientation.x ? 0 : from"
          [attr.y2]="axis.orientation === orientation.x ? height : from">
</svg:line>

<svg:line class="grabber"
          [class.x-grabber]="axis.orientation === orientation.x"
          [class.y-grabber]="axis.orientation === orientation.y"
          [class.resizeable]="plotBand?.resizable"
          [attr.stroke]="'red'"
          [attr.stroke-width]="8"
          opacity="0"
          [attr.x1]="axis.orientation === orientation.x ? to : 0"
          [attr.x2]="axis.orientation === orientation.x ? to : width"
          [attr.data-grabber]="'to'"
          [attr.y1]="axis.orientation === orientation.x ? 0 : to"
          [attr.y2]="axis.orientation === orientation.x ? height : to">
</svg:line>


