@if (virtual()) {
  <cdk-virtual-scroll-viewport tetaScrollContainer class="column_auto" [itemSize]="height()">
    <teta-tree-item
      *cdkVirtualFor="let item of displayData(); templateCacheSize: 0; trackBy: trackRow"
      [item]="item"
      [style.height.px]="height()"
      style="flex-shrink: 0"
      [depth]="item['level']"
      [padding]="padding()"
      [childNodeName]="childNodeName()"
      [childPadding]="childPadding()"
      [template]="template?.template"
    ></teta-tree-item>
  </cdk-virtual-scroll-viewport>
} @else {
  <teta-scroll-container class="column column_auto">
    @for (item of displayData(); track trackRow($index, item)) {
      <teta-tree-item
        [item]="item"
        [style.height.px]="height()"
        style="flex-shrink: 0"
        [depth]="item['level']"
        [padding]="padding()"
        [childNodeName]="childNodeName()"
        [childPadding]="childPadding()"
        [template]="template?.template"
      ></teta-tree-item>
    }
  </teta-scroll-container>
}
