@if (locale | async; as loc) {
<div class="list column_auto">
  @if (!parent) {
  <div class="list-item list-item_interactive" (click)="pinColumn()">
    {{ column.locked ? loc.unpin : loc.pin }}
  </div>
  <div class="list-divider"></div>
  } @if (column.sortable) {
  <div class="list-item list-item_interactive" (click)="sortAsc($event)">
    {{ loc.sortAsc }}
  </div>
  <div class="list-item list-item_interactive" (click)="sortDesc($event)">
    {{ loc.sortDesc }}
  </div>
  @if (hasSortedColumns()) { @if (sortParam) {
  <div class="list-item list-item_interactive" (click)="clearSort()">
    {{ loc.clearSort }}
  </div>
  }
  <div class="list-item list-item_interactive" (click)="clearAllSort()">
    {{ loc.clearAllSort }}
  </div>
  <div class="list-divider"></div>
  } } @if (hasFilteredColumns()) { @if (filtered) {
  <div class="list-item list-item_interactive" (click)="clearFilter()">
    {{ loc.clearFilter }}
  </div>
  }
  <div class="list-item list-item_interactive" (click)="clearAllFilters()">
    {{ loc.clearAllFilters }}
  </div>
  <div class="list-divider"></div>
  }
  <div class="list-item list-item_interactive" (click)="autosizeColumn()">
    {{ loc.autosizeColumn }}
  </div>
  <div class="list-item list-item_interactive" (click)="autosizeAllColumns()">
    {{ loc.autosizeAll }}
  </div>
  <div class="list-divider"></div>
  <div class="list-item list-item_interactive" (click)="restoreDefaultColumns()">
    {{ loc.resetColumnsSize }}
  </div>
</div>
}
