@for (seriesItem of series(); track seriesItem.id) {
  @if (seriesItem?.showInLegend !== false && seriesItem.enabled) {
    <div>
      <div class="legend-item cursor-pointer" (click)="click(seriesItem, !seriesItem.visible)">
        <div class="legend-icon-form"
             [style.height.px]="getHeight(seriesItem)"
             [style.border-top-color]="seriesItem.visible ? seriesItem.color : 'var(--color-text-30)'"
             [style.border-top-style]="seriesItem.style?.strokeDasharray ? 'dashed' : 'solid'"
             [style.border-width.px]="seriesItem.style?.strokeDasharray ? 1 : 2"></div>
        <div class="legend-label font-caption"
             style="user-select: none"
             [style.text-decoration]="seriesItem.visible ? 'none' : 'line-through'">
          {{ seriesItem.name }}
        </div>
      </div>
    </div>
  }
}
