@if (leftIconName) {
  <teta-icon [name]="leftIconName" [palette]="'text'"></teta-icon>
}
<input
  #input
  [ngModel]="value | tetaNumber: (!onlyNumber ? null : inputFocused ? 1000 : decimalPart) : inputFocused"
  [tetaOnlyNumber]="onlyNumber"
  (ngModelChange)="value = $event; onChange($event)"
  [placeholder]="placeholder"
  [disabled]="disabled"
  [ngClass]="{ 'color-text-40': disabled }"
  (focus)="inputFocused = true"
  (blur)="inputFocused = false; emitBlur()"
  (keydown)="keyPress($event)"
  type="text"
/>
@if (value && !disabled) {
  <teta-icon
    class="close-icon"
    [name]="'closeCircle'"
    [palette]="'text'"
    (click)="value = ''; onChange('')"
  ></teta-icon>
}
