@if (locked?.length) {
  <div class="table-head_locked"
    [style.flex-grow]="lockedFlex"
    [style.flex-basis.px]="lockedWidth"
    [style.min-width.px]="lockedWidth">
    @if (selectType === selectTypeEnum.checkBox) {
      <teta-selection-head-cell
      style="width: 28px;"></teta-selection-head-cell>
    }
    @for (column of locked; track track($index, column)) {
      <teta-table-head-group
        class="table-head__group"
        [data]="data"
        [showHeadCellMenu]="showHeadCellMenu"
      [column]="column"></teta-table-head-group>
    }
  </div>
}
@if (unlocked?.length) {
  @if (selectType === selectTypeEnum.checkBox && locked?.length < 1) {
    <teta-selection-head-cell
    style="width: 28px;"></teta-selection-head-cell>
  }
  @for (column of unlocked; track track($index, column)) {
    <teta-table-head-group
      class="table-head__group"
      [data]="data"
      [showHeadCellMenu]="showHeadCellMenu"
    [column]="column"></teta-table-head-group>
  }
}
