<div class="list row_auto margin-top-2"
     (wheel)="scrollMonthSelector($event);">
  <div *ngFor="let month of months"
       class="list-item list-item_interactive"
       [class.list-item_active]="month === _currentMonth"
       [class.list-item_disabled]="isMonthDisabled(month)"
       [class.datepicker__month__item_current]="month === today?.getMonth() && currentYear === today?.getFullYear()"
       (click)="setMonth($event, month)"
       (dblclick)="applyMonth($event, month)">
    <span class="color-text-20 margin-right-2">
      {{month + 1 | tetaPrependZero: 2}}
    </span>
    {{locale.months[month]}}
  </div>
</div>
