<ng-container *ngIf="{
  y: y | async,
  x: x | async
} as scales">
  <svg:circle
    class="line"
    *ngFor="let point of series.data"
    (mouseenter)="mouseenter(point)"
    (mouseleave)="mouseleave(point)"
    [attr.cx]="scales.x(point.x)"
    [attr.cy]="scales.y(point.y)"
    [attr.r]="series.style.radius ?? 1"
    [attr.stroke]="point.color ?? series.color"
    [attr.fill]="point.color ?? series.color"
    [attr.stroke-width]="series.style?.strokeWidth">
  </svg:circle>
</ng-container>



